section.connect.ov-h
	.container
		.container-1385px.news__wrapper
			.connect__HREC
				.block__main--title
					h2.title Dự án nổi bật 
				.connectHREC__list
					-for(var i = 0; i < 8; i++)
						a(href="project.html").connect__item
							.block__main--connect
								.item__wrapper
									.connect--img
										img.ofcv.lazyload(data-src=`./assets/images/connect/cn-${i+1}.png`, alt="something")
									.connect--desc.ov-h
										h2.title.lcl.lcl-1.tt-u DỰ ÁN: Lorem Ipsum is dummy.
										p.info Lorem Ipsum is simply dummy text of the printing and typesetting industry.
										.list--info.row
											-for(var j=0;j<4;j++)
												.item-info.col-6
													.row
														.img.col-2
															img.svg(data-src=`./assets/images/connect/icon-${j+1}.svg`, alt="")
														.desc.col-10
															!= "<span>Chủ đầu tư : </span>  <span> Công ty ABC </span>"
.banner-QC
	section.News
		.container
			.container-1385px
				.news__slider
					.nSlider__row
						.nSlider__col.left
							.swiper-container
								.swiper-wrapper
									.swiper-slide
										a(href="#")
											img(src="./assets/images/news-events/s2.png", alt="alooo")
						.nSlider__col.right
							.swiper-container
								.swiper-wrapper
									.swiper-slide
										a(href="#")
											img(src="./assets/images/news-events/s1.png", alt="alooo")