section.list-project
	.container
		.container-1385px.proj__wrapper
			.project-content
				.list-HREC
					.block__main--title
						h2.title Dự án hội viên
					.projectHREC__list
						-for(var i = 0; i < 12; i++)
							.project__item
								.block__main--project
									a(href="project.html")
										.pro-img.ov-h
											img.ofcv.lazyload(data-src=`./assets/images/connect/cn-1.png`, alt="something")
										.pro-desc
											h2.title DỰ ÁN: Lorem ipsum  is simply
											p.sub-title Lorem Ipsum is simply dummy text of the printing and typesetting industry.

				ul.pagination
					li(data-url="asd").pagination-prev
						a(href="#")
					li(data-url="asd")
						a(href="#") 1
					li(data-url="asd")
						a(href="#") 2
					li(data-url="asd")
						a(href="#") 3
					li(data-url="asd").pagination-dot
						a(href="#") ...
					li(data-url="asd")
						a(href="#") 13
					li(data-url="asd")
						a(href="#") 14
					li(data-url="asd")
						a(href="#") 15
					li(data-url="asd").pagination-next
						a(href="#")
