.contact {
	margin: 100px 0;

	.contact__wrapper {
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
		display: flex;
		flex-wrap: wrap;
		padding: 75px;
		align-items: flex-end;
		.title {
			h3 {
				font-size: 25px;
				font-family: Lato-Heavy;
				color: map-get($mau, main-3);
				@media (max-width: 575.98px) {
					font-size: 20px;
				}
			}
		}
		.contact-info {
			-ms-flex: 0 0 40%;
			flex: 0 0 40%;
			max-width: 40%;
			.contact-logo {
				margin-bottom: 10px;
			}
			.title {
				margin-bottom: 30px;
			}
			.contact-detail {
				margin-bottom: 30px;
				.wrapper {
					display: flex;
					align-items: center;
					&:not(:last-child) {
						margin-bottom: 15px;
					}
					.img {
						-ms-flex: 0 0 17px;
						flex: 0 0 17px;
						max-width: 17px;
					}
					.txt {
						-ms-flex-preferred-size: 0;
						flex-basis: 0;
						-ms-flex-positive: 1;
						flex-grow: 1;
						max-width: 100%;
						padding-left: 20px;
					}
				}
			}
			.contact-map {
				height: 218px;
				iframe {
					box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				}
			}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 20px;
			}
		}
		.contact-form {
			-ms-flex: 0 0 60%;
			flex: 0 0 60%;
			max-width: 60%;
			padding-left: 70px;
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				padding: 0;
			}
			.title {
				margin-bottom: 40px;
			}
			form {
				.form {
					margin-bottom: 20px;
					input,
					textarea {
						padding-left: 20px;
						width: 100%;
						height: 53px;
						border: 1px solid map-get($mau, main-3);
						font-family: Lato-Bold;
					}
					textarea {
						height: 144px;
					}
				}
				.btn-submit {
					padding: 0 10px;
					width: 100%;
					button {
						height: 53px;
						width: 100%;
						max-width: 100%;
						background: map-get($mau, main-3);
						box-shadow: 3px 5px 5px rgba($color: #000000, $alpha: .25);
						font-family: Lato-Heavy;
						color: map-get($mau, main-2);
						
					}
				}
			}
		}
	}
	@media (max-width: 1024.98px) {
		margin: 20px 0;
		.contact__wrapper {
			padding: 20px;
		}
	}
}