section.contact
	.container
		.container-1385px
			.contact__wrapper
				.contact-info
					.contact-logo
						img(src="./assets/logo.png", alt="")
					.title
						h3 CÂU LẠC BỘ BẤT ĐỘNG SẢN TP.HCM
					.contact-detail
						.wrapper
							.img
								img(src="./assets/images/contact/location.png", alt="")
							.txt
								p Lầu 2, 199 Phan Đình Phùng, P.17, Q. Phú Nhuận, TP. HCM
						.wrapper
							.img
								img(src="./assets/images/contact/phone.png", alt="")
							.txt
								p
									!= "<a href>0906 999 780</a> - <a href>0906 999 780</a>"
						.wrapper
							.img
								img(src="./assets/images/contact/mail.png", alt="")
							.txt
								p
									a(href="") chamsochoivien@hrec.vn
						.wrapper
							.img
								img(src="./assets/images/contact/web.png", alt="")
							.txt
								p 
									a(href="") www.website.com
					.contact-map
						iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.203077231079!2d106.68001951488525!3d10.795752792308427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528d1552a0555%3A0x85290288097d590c!2zMTk5IFBoYW4gxJDDrG5oIFBow7luZywgUGjGsOG7nW5nIDEsIFBow7ogTmh14bqtbiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1609211665711!5m2!1svi!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
				.contact-form
					.title
						h3 LIÊN HỆ VỚI CHÚNG TÔI
					form(action="")
						.form__wrapper.row
							.form.col-sm-6
								input(type="text" name="name" placeholder="Họ và tên:")
							.form.col-sm-6
								input(type="text" name="name" placeholder="Số điện thoại:")
							.form.col-sm-6
								input(type="text" name="name" placeholder="Tên công ty:")
							.form.col-sm-6
								input(type="text" name="name" placeholder="Chức vụ:")
							.form.col-sm-6
								input(type="text" name="name" placeholder="Email:")
							.form.col-sm-6
								input(type="text" name="name" placeholder="Tiêu đề:")
							.form.col-12
								textarea(name="content", cols="30", rows="10" placeholder="Nội dung:")
							.btn.btn-submit(data-url="submit")
								button.btn GỬI