@font-face {
    font-family: Lato-Black;
    src: url('../fonts/Lato-Black.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-Heirline;
    src: url('../fonts/Lato-Hairline.ttf');
}

@font-face {
    font-family: Lato-Heavy;
    src: url('../fonts/Lato-Heavy.ttf');
}

@font-face {
    font-family: Lato-Italic;
    src: url('../fonts/Lato-Italic.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('../Lato-Light.ttf');
}

@font-face {
    font-family: Lato-Medium;
    src: url('../fonts/Lato-Medium.ttf');
}

@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Thin;
    src: url('../fonts/Lato-Thin.ttf');
}

@font-face {
    font-family: Lato-Black;
    src: url('../fonts/Lato-Black.ttf');
}