section.connect {
    padding-top: 90px;
    @media (max-width: 1024.98px) {
        padding-top: 40px;
    }
    .connectHREC__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-right: -10px;
        margin-left: -10px;
	}
	.banner {
		margin-top: 30px;
		@media (max-width: 575.98px) {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
            .connect--banner {
                padding-bottom: 20px;
            }
        }
        @media (max-width: 1024.98px) {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
            .connect--banner {
                padding-bottom: 20px;
                padding-right: 0;
            }
		}
    }
    .connect__item {
        position: relative;
        .connect--desc {
            h2 {
                color: map-get($mau, main-3);
                font-family: Lato-Black;
                font-size: 20px;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                margin-bottom: 8px;
                @media (max-width: 1440.98px) {
                    font-size: 16px;
                }
                @media (max-width: 1024.98px) {
                    font-size: 14px;
                }
            }
            p {
                color: map-get($mau, main-1);
                font-family: Lato-Regular;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-size: 16px;
                @media (max-width: 1024.98px) {
                    font-size: 14px;
                }
                @media (max-width: 1024.98px) {
                    font-size: 11px;
                }
            }
            .list--info {
                .item-info {
                    padding-bottom: 10px;
                }
                span {
                    &:first-child {
                    font-family: Lato-Bold;
                    }
                }
            }
        }
        &:nth-child(1),
        &:nth-child(2) {
            padding-right: 15px;
            padding-left: 15px;
            width: 50%;
            flex: 0 0 50%;
			margin-bottom: 40px;
			&::after {
				position: absolute;
				content: '';
				width: calc(100% - 30px);
				height: 12px;
				background:#B69256 ;
			}
            .connect--img {
                box-shadow: 0 3px 8px rgba($color: #000000, $alpha: 0.22);
				overflow: hidden;
            }
            .connect--desc {
                .info {
                    display: none;
                }
				box-shadow: 0 3px 8px rgba($color: #000000, $alpha: 0.22);
				padding: 40px 50px 20px 50px ;
            }
            @media (max-width: 1439.98px) {
                padding: 0 5px;
                margin-bottom: 20px;
                .connect--desc {
                    padding: 15px 10px 15px 10px ;
                }
            }

            @media (max-width: 575.98px) {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                .connect--desc {
                    padding: 10px 10px 10px 10px ;
                    .item-info {
                        -webkit-box-flex: 0;
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
            .block__main--connect {
                .connect--img {
                    &::before {
                        background: linear-gradient(to bottom, #000000 0%, #292c33 100%) no-repeat;
                        background-size: 100% 100%;
                        opacity: 0.5;
                    }
                    &::after {
                        background: url("../assets/images/news-events/hover-big.png") no-repeat;
                        background-size: 100% 100%;
                        opacity: 0.6 !important;
                    }
                }
                @media (min-width: 1025px) {
                    &:hover {
                        .connect--img {
                            img {
                                transform: scale(1.1);
                                transition: .5s all ease-in-out;
                            }
                            &::before {
                                transition: .5s all ease-in-out;
                                opacity: 0;
                                background-size: 100% 100% !important;
                            }
                            &::after {
                                opacity: 0.5;
                                transition: .5s all ease-in-out;
                                transform: translateY(0%);
                                background-size: 100% 100% !important;
                            }
                        }
                        .connect--desc {
							transition: .5s all ease;

							background: map-get($mau, main-3);
							h2.title {
								transition: .5s all ease;
								color: map-get($mau, main-2);
							}
							svg {
								path{
									transition: .5s all ease;
									fill: map-get($mau, main-2);
								}
							}
							p {
								transition: .5s all ease;
								color: map-get($mau, main-2);
                            }
                            span {
								transition: .5s all ease;
								color: map-get($mau, main-2);
							}
                        }
                    }
                }
			}
			.connect--desc {
				transition: all 0.5s ease-in-out;
					}
			.connect--img {
                overflow: hidden;
                img {
                    transition: all 0.5s ease-in-out;
                }
            }
        }
        &:nth-child(1) {
            @media (max-width: 1439.98px) {
                padding-right: 5px;
                padding-bottom: 30px;
                &::after{
                    display: none;
                }
            }
        }
        &:nth-child(2) {
            @media (max-width: 1439.98px) {
                padding-left: 5px;
                &::after{
                    display: none;
                }
            }
        }
        &:not(:first-child):not(:nth-child(2)) {
			padding-bottom: 30px;
            -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding-right: 10px;
            padding-left: 10px;
            .connect--img {
                height: 218px;
                overflow: hidden;
                &:before {
                    background: linear-gradient(to bottom, #525866 0%, #292c33 100%);
                    opacity: 0.3;
                }
                &::after {
                    background: url("../assets/images/news-events/hover-small.png") no-repeat !important;
                    opacity: 0.5;
                }
            }
            .connect--desc {
                margin-top: 10px;
                border: 1px solid map-get($mau, main-3);
                padding: 17px;
                position: relative;
                width: 100%;
                left: 0;
                bottom: 0;
                transform: none;
                height: 140px;
                h2 {
                    font-size: 20px;
                    font-family: Lato-Bold;
                    color:map-get($mau, main-1) ;
                }
                .list--info {
                    display: none;
                }
            }
            @media (max-width: 1024.98px) {
                padding: 0 5px;
                margin-bottom: 30px;
            }
            @media (max-width: 768.98px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;
            }
            .block__main--connect {
                @media (min-width: 1025px) {
                    &:hover {
                        .connect--img {
                            img {
                                transform: scale(1.1);
                                transition: 1s all ease-in-out;
                            }
                            &::before {
                                transition: 1s all ease-in-out;
                                opacity: 0;
                                background-size: 100% 100% !important;
                            }
                            &::after {
                                opacity: 0.5;
                                transition: 1s all ease-in-out;
                                transform: translateY(0%);
                                background-size: 100% 100% !important;
                            }
                        }
                        .connect--desc {
							transition: 1s all ease;

							background: map-get($mau, main-3);
							h2.title {
								transition: 1s all ease;
								color: map-get($mau, main-2);
							}
							svg {
								path{
									transition: 1s all ease;
									fill: map-get($mau, main-2);
								}
							}
							p {
								transition: 1s all ease;
								color: map-get($mau, main-2);
                            }
                            span {
								transition: .5s all ease;
								color: map-get($mau, main-2);
							}
                            .info{
                                display: none;
                            }
                            .list--info {
                                display: block;
                                width: 100%;
                               .item-info:nth-child(2),
                               .item-info:nth-child(4) {
                                        display: none;
                                }
                                .item-info {
                                    -webkit-box-flex: 0;
                                    flex: 0 0 50%;
                                     max-width: 100%;
                                     padding: 0 10px;
                                }
                            }
                        }
                    }
                    	.connect--desc {
                        transition: all 0.5s ease-in-out;
                   		 }
                }
            }
            -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding-right: 15px;
            padding-left: 15px;
            .connect--img {
                overflow: hidden;
                height: 218px;
                img {
                    transition: all 0.5s ease-in-out;
                }
            }
            .connect--date {
                top: 21px;
                left: 18px;
            }
            .connect--desc {
                margin-top: 10px;
                border: 1px solid map-get($mau, main-3);
                padding: 20px;
                position: relative;
                width: 100%;
                left: 0;
                bottom: 0;
                transform: none;
                height: auto;
            }
            @media (max-width: 1024.98px) {
                padding: 0 5px;
            }
            @media (max-width: 768.98px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;
            }
            @media (max-width: 575.98px) {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

}