.list-project{
    .container {
        @media (min-width: 1023.98px) {
            .proj__wrapper {
                padding-top: 100px;
            }
        }
    }
	@media (max-width: 1024.98px) {
		.block__main--title {
			padding-bottom: 10px;
		}
	}
	.projectHREC__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-right: -10px;
        margin-left: -10px;
    }
    .project__item {
		padding-bottom: 20px;
        .pro-desc {
            p {
                color: map-get($mau, main-1);
                font-family: Lato-Black;
                font-size: 20px;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                margin-bottom: 8px;
                @media (max-width: 1440.98px) {
                    font-size: 18px;
                }
            }
            p {
                color: map-get($mau, main-1);
                font-family: Lato-Regular;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-size: 16px;
                @media (max-width: 1440.98px) {
                    font-size: 14px;
                }
            }
        }
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
            padding-right: 10px;
            padding-left: 10px;

            .pro-img {
                height: 218px;
                overflow: hidden;
                &:before {
                    background: linear-gradient(to bottom, #525866 0%, #292c33 100%);
                    opacity: 0.3;
                }
                &::after {
                    background: url("../assets/images/news-events/hover-small.png") no-repeat !important;
                    opacity: 0.5;
                }
            }
            .pro-desc {
                margin-top: 10px;
                border: 1px solid map-get($mau, main-3);
                padding: 17px;
                position: relative;
                width: 100%;
                left: 0;
                bottom: 0;
                transform: none;
                height: auto;
                h2 {
                    font-size: 20px;
                    font-family: Lato-Bold;
                }
            }
            @media (max-width: 1024.98px) {
                padding: 0 5px;
                margin-bottom: 20px;
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
            @media (max-width: 768.98px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;
            }
            .block__main--project {
                @media (min-width: 1025px) {
                    &:hover {
                        .pro-img {
                            img {
                                transform: scale(1.1);
                                transition: 1s all ease-in-out;
                            }
                            &::before {
                                transition: 1s all ease-in-out;
                                opacity: 0;
                                background-size: 100% 100% !important;
                            }
                            &::after {
                                opacity: 0.5;
                                transition: 1s all ease-in-out;
                                transform: translateY(0%);
                                background-size: 100% 100% !important;
                            }
                        }
                        .pro-desc {
                            transition: .5s all ease-in-out;
                            background: map-get($mau, main-3);
                            color: map-get($mau, main-2);
                            h2 {
                                transition: .5s all ease-in-out;
                                color: map-get($mau, main-2);
                            }
                            p {
                                transition: .5s all ease-in-out;
                                color: map-get($mau, main-2);
                            }
                        }
                    }
                    .pro-desc {
                        transition: all 0.5s ease-in-out;
                        p {
                            transition: all 0.5s ease-in-out;
                        }
                    }
                }
            }
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
            padding-right: 10px;
            padding-left: 10px;
            .btn {
                display: none;
            }
            .pro-img {
                overflow: hidden;
                height: 218px;
                img {
                    transition: all 0.5s ease-in-out;
                }
            }
            .pro-desc {
                margin-top: 10px;
                border: 1px solid map-get($mau, main-3);
                padding: 17px;
                position: relative;
                width: 100%;
                left: 0;
                bottom: 0;
                transform: none;
                height: auto;
            }
            @media (max-width: 1024.98px) {
                padding: 0 5px;
            }
            @media (max-width: 768.98px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;
            }
            @media (max-width: 575.98px) {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        
	}
}
.pagination {
	margin-bottom: 80px;
	padding-top: 50px;
    width: 100%;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    li {
        margin: 0 5px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #989898;
            width: 30px;
            height: 30px;
            font-family: Lato-Heavy;
            font-size: 13px;
            transition: all .2s cubic-bezier(.2, .5, .5, .8);
        }
        &:hover {
            a {
                text-decoration: none;
                color: #0B1F44;
            }
        }
        &.active {
            a {
                color: #FFFFFF;
                background: #b7883d;
            }
        }
    }
    @media (max-width: 1024.98px) {
        li {
            a {
                font-size: 14px;
            }
        }
    }
}
	