section.new-mb
	.container
		.container-1385px
			.block__main--title 
				h2.title Hội viên mới 
			.executive-committee__wrapper
					.executive-committee-active.col-lg-12
					.executive-committee-swiper__wrapper-2.col-lg-12
						.swiper-container
							.swiper-wrapper
								-for(var i = 0;i < 8; i++)
									.swiper-slide
										.block__main--model.ov-h
											.item__wrapper
												.model--img
													img.ofcv.lazyload(data-src=`./assets/images/introduce/item-1.png`, alt="something")
												.model--desc.ov-h
													h2.title.lcl.lcl-1.tt-u Công ty: Lorem Ipsum has been the indus.
													.info 
														.name!= "<span>Chủ đầu tư : </span>  <span> Công ty ABC </span>"
														.com!= "<span>Chức vụ : </span>  <span> Phó tổng giám đốc </span>"
													p.sub-title.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
													.list--info.row
														-for(var j=0;j<4;j++)
															.item-info.col-6
																.row
																	.img.col-2
																		img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
																	.desc.col-10
																		p.lcl.lcl-1 Lorem Ipsum is dummy.
													.comp-info 
														.infomem.col-6
															p.time Năm thành lập :
														.infomem.col-6
															p.areas Lĩnh vực kinh doanh :
														.infomem.col-6
															p.sp Sản phẩm cụ thể :
														.infomem.col-6
															p.stregth Thế mạmnh :
							.swiper-button-next
							.swiper-button-prev