section.home__happy-birthday.member__happy-birthday 
	.container
		.container-1385px.home__stuff__wrapper
				.block__main--title
					h2.title Chúc Mừng Sinh Nhật Hội Viên
				.birthday-event__wrapper
					.swiper-container
						.swiper-wrapper
							-for(var i =0; i < 6; i++)
								.swiper-slide
									.block__main--model.ov-h
										.model--img
											img.ofcv(src=`./assets/images/homepage/UNOO.png`, alt="something")
										.model--date 
											span Tháng 7
										.model--desc.ov-h
											h2.title.lcl.lcl-1.tt-u mR. Lorem Ipsum
											.title-info!= "<span>Ông : </span>  <span> Nguyễn Văn A </span>"
											.title-1!= "<span>Công ty : </span>  <span> Lorem Ipsum has been the indus.</span>"
											.info 
												.name!= "<span>Đại diện : </span>  <span> Ông Nguyễn Văn A </span>"
												.com!= "<span>Chức vụ : </span>  <span> Phó tổng giám đốc </span>"
											p.content-title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
											.list--info
												-for(var j=0;j<2;j++)
													.item-info
														.row
															.img.col-2
																img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
															.desc.col-10
																p.lcl.lcl-1 Lorem Ipsum is dummy.
												.item-info
													.row
														.img.col-2
															img.svg(data-src=`./assets/icons/calendar.svg`, alt="")
														.desc.col-10
															p.lcl.lcl-1 Lorem Ipsum is dummy.
											.comp-info 
												.info-d.col-6
													p.time Năm thành lập :
												.info-d.col-6
													p.areas Lĩnh vực kinh doanh :
												.info-d.col-6
													p.sp Sản phẩm cụ thể :
												.info-d.col-6
													p.stregth Thế mạmnh :
						.swiper-button-next
						.swiper-button-prev
.banner-QC
	section.News
		.container
			.container-1385px
				.news__slider
					.nSlider__row
						.nSlider__col.left
							.swiper-container
								.swiper-wrapper
									.swiper-slide
										a(href="#")
											img(src="./assets/images/news-events/s2.png", alt="alooo")
						.nSlider__col.right
							.swiper-container
								.swiper-wrapper
									.swiper-slide
										a(href="#")
											img(src="./assets/images/news-events/s1.png", alt="alooo")
		.d-n
			#infomem
				.list-mem