section.list-member
	.container
		.container-1385px.news__wrapper
			.member-content
				.list-HREC
					.block__main--title
						h2.title Danh sách hội viên
					.memberHREC__list
						-for(var i = 0; i < 16; i++)
							.news__item
								.block__main--model
									a(href="#")
										.model--img.ov-h
											img.ofcv.lazyload(data-src=`./assets/images/newmember/new-2.png`, alt="something")
										.model--desc
											.title-1!= "<span>Công ty : </span>  <span> Lorem Ipsum has been the indus.</span>"
											.title!= "<span>Ông : </span>  <span> Nguyễn Văn A </span>"
											.info 
												.name!= "<span>Đại diện : </span>  <span> Ông Nguyễn Văn A </span>"
												.com!= "<span>Chức vụ : </span>  <span> Phó tổng giám đốc </span>"
											p.content-title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
											.list--info.row
												-for(var j=0;j<4;j++)
													.item-info.col-6
														.row
															.img.col-2
																img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
															.desc.col-10
																p.lcl.lcl-1 Lorem Ipsum is dummy.
											.comp-info 
												.info-d.col-6
													p.time Năm thành lập :
												.info-d.col-6
													p.areas Lĩnh vực kinh doanh :
												.info-d.col-6
													p.sp Sản phẩm cụ thể :
												.info-d.col-6
													p.stregth Thế mạmnh :
				ul.pagination
					li(data-url="asd").pagination-prev
						a(href="#")
					li(data-url="asd")
						a(href="#") 1
					li(data-url="asd")
						a(href="#") 2
					li(data-url="asd")
						a(href="#") 3
					li(data-url="asd").pagination-dot
						a(href="#") ...
					li(data-url="asd")
						a(href="#") 13
					li(data-url="asd")
						a(href="#") 14
					li(data-url="asd")
						a(href="#") 15
					li(data-url="asd").pagination-next
						a(href="#")
	.d-n
		#infomem
			.list-mem
				//- .mem-img.ov-h
				//- 	img.ofcv.lazyload(data-src=`./assets/images/newmember/new-2.png`, alt="something")
				//- .mem-desc.ov-h
				//- 	h2.title.lcl.lcl-1.tt-u Công ty: Lorem Ipsum has been the indus.
				//- 	.info 
				//- 		p.name Đại diện: Ông Nguyễn Văn A
				//- 		p.com Chức vụ: Phó Tổng Giám Đốc
				//- 	p.sub-title.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				//- 	.list--info.row
				//- 		-for(var j=0;j<4;j++)
				//- 			.item-info.col-6
				//- 				.row
				//- 					.img.col-2
				//- 						img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
				//- 					.desc.col-10
				//- 						p.lcl.lcl-1 Lorem Ipsum is dummy.
				//- 	.comp-info 
				//- 		.info-d.col-6
				//- 			p.time Năm thành lập :
				//- 		.info-d.col-6
				//- 			p.areas Lĩnh vực kinh doanh :
				//- 		.info-d.col-6
				//- 			p.sp Sản phẩm cụ thể :
				//- 		.info-d.col-6
				//- 			p.stregth Thế mạmnh :