header
	.header__before
		.header__before01
	.container
		.header__wrapper
			.header__logo
				a.headerLogo__link(href="index.html")
					img(src="./assets/logo.png", alt="")
					//- img.lazyload.blur-up.mobile(data-src="./assets/logo-mobile.png", alt="")
			.header__nav--top
				.navTop__wrapper
					.header__information
						.information__item
							.item__icon
								img(src="./assets/icons/email.png", alt="email")
							.item__text
								a.information__link(href="mailto:chamsochoivien@hrec.vn" data-paste="email")
						.information__item
							.item__icon
								img(src="./assets/icons/phone.png", alt="phone")
							.item__text
								a.information__link(href="tel:0906 999 780" data-paste="phone")
					.header__login
						.login__icon
							img(src="./assets/icons/acc.png", alt="acc")
						.login__text
							a.login__link(href="") Đăng nhập
					.header__languages.language
						.languages__item.item(data-language="vi")
							a.languages__link(data_content--pc="Vietnamese" data_content--mobile="VIE" href="#") Vietnamese
						.languages__item.item(data-language="en")
							a.languages__link(data_content--pc="English" data_content--mobile="ENG" href="#") English
					.header__search
						.navSearch__btn
							.icon-search
								img(src="./assets/icons/search.png", alt="BUTTON SEARCH")
							.icon-close
								img.svg(data-src="./assets/icons/close.svg", alt="BUTTON SEARCH")
						.navSearch__input
							form(action="#")
								.search-input
									input(type="search" placeholder="Nhập để tìm kiếm")
								.search-submit
									button
										img(src="./assets/icons/search.png", alt="BUTTON SEARCH")
			.header__nav--bottom
				.navMobile
				.navBottom__wrapper
					.navBar
						.navBar__item
							a.navBar__link(href="introduce.html") GIỚI THIỆU
						.navBar__item
							a.navBar__link(href="news.html") TIN TỨC - SỰ KIỆN
						.navBar__item
							a.navBar__link(href="community.html") CỘNG ĐỒNG
						.navBar__item
							a.navBar__link(href="member.html") HỘI VIÊN
						.navBar__item
							a.navBar__link(href="connect.html") KẾT NỐI
						.navBar__item
							a.navBar__link(href="libary.html") THƯ VIỆN
						.navBar__item
							a.navBar__link(href="banchuyende.html") BAN CHUYÊN ĐỀ
						.navBar__item
							a.navBar__link(href="contact.html") LIÊN HỆ
