block var

doctype html

html(lang="vi")
	head
		title #{title}
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='shortcut icon', type='image/png', href='/favicon/favicon.ico')
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
	body
		#overlay
		block loading
		//- main content
		block header
			include _header.pug
		block banner,breadcrumb
		main
			block main
			#js-page-verify(class=bodyClass hidden)
		block footer
			include _footer.pug
		// BLOCK POPUP LOGIN
		input.g-recaptcha(type="hidden" name="recaptcha" data-sitekey="6Le-tdEZAAAAAHiNLcnunnaYNGYWPK7gwZjC1g9y")
		input#checklogin(type="text" hidden value="true")
		.d-n
			#form__login.popup-form
				.headerLogin__form
					.headerLogin__header
						.headerLogin__logo
							img.lazyload.blur-up(data-src="./assets/logo.png", alt="LOGO")
					.headerLogin__body
						.title
							p ĐĂNG NHẬP
						form(action="#")
							.input__login
								input(type="text", name="user", placeholder="Mã số hội viên (*)",requ)
							.input__login
								input(type="password", name="password",placeholder="Mật khẩu (*)")
							.input__check
								input(type="checkbox" name="check" id="checkPass")
								label(for="checkPass" NAME) Nhớ tài khoản
							.btn.btn-login(data-url="login")
								button.btn(type="submit") Đăng nhập
							.ishavepass
								p Chưa có tài khoản ? 
									a(href="javascript:;") Đăng ký
			#form__signin.popup-form
				.headerLogin__form
					.headerLogin__header
						.headerLogin__logo
							img.lazyload.blur-up(data-src="./assets/logo.png", alt="LOGO")
					.headerLogin__body
						.title
							p ĐĂNG KÝ HỘI VIÊN
							p Chỉ được up file pdf và dưới 1 MB
						form(action="#")
							.form-group
								.text
									p Giấy phép đăng ký kinh doanh
								.input
									.input__wrapper
										input(type="file" name="file-input-1" class="file-input" id="file-input-1")
										span.fakeinput Chua co file nao dc chon
										label(for="file-input-1" ) 
											img.svg(src="./assets/icons/down.svg", alt="")
											span Tải file lên
							.form-group
								.text
									p CMND (Người đại diện) (*)
								.input
									.input__wrapper
										input(type="text", name="password",placeholder="Mật khẩu (*)")
							.form-group
								.text
									p Uỷ quyền (Nếu có)
								.input
									.input__wrapper
										input(type="text", name="password",placeholder="Mật khẩu (*)")
							.form-group
								.text
									p Đề nghị gia nhập (Theo mẫu) (*)
								.input
									.input__wrapper
										input(type="file" name="file-input" class="file-input" id="file-input-2")
										span.fakeinput Chua co file nao dc chon
										label(for="file-input-2" ) 
											img.svg(src="./assets/icons/down.svg", alt="")
											span Tải file lên
										a(href="").sample
											img.svg(src="./assets/icons/down-v2.svg", alt="")
											span Tải mẫu về
							.form-group
								.text
									p Thông tin doanh nghiệp (Theo mẫu) (*)
								.input
									.input__wrapper
										input(type="file" name="file-input" class="file-input" id="file-input-3")
										span.fakeinput Chua co file nao dc chon
										label(for="file-input-3" ) 
											img.svg(src="./assets/icons/down.svg", alt="")
											span Tải file lên
										a(href="").sample
											img.svg(src="./assets/icons/down-v2.svg", alt="")
											span Tải mẫu về
							.form-group
								.text
									p Slide giới thiệu (Theo mẫu) (*)
								.input
									.input__wrapper
										input(type="file" name="file-input" class="file-input" id="file-input-4")
										span.fakeinput Chua co file nao dc chon
										label(for="file-input-4" ) 
											img.svg(src="./assets/icons/down.svg", alt="")
											span Tải file lên
										a(href="").sample
											img.svg(src="./assets/icons/down-v2.svg", alt="")
											span Tải mẫu về
							.form-group
								.text
									p Hình chân dung (*)
								.input
									.input__wrapper
										input(type="file" name="file-input" class="file-input" id="file-input-5")
										span.fakeinput Chua co file nao dc chon
										label(for="file-input-5" ) 
											img.svg(src="./assets/icons/down.svg", alt="")
											span Tải file lên
							.form-group
								.text
									p Logo công ty (*)
								.input
									.input__wrapper
										input(type="file" name="file-input" class="file-input" id="file-input-6")
										span.fakeinput Chua co file nao dc chon
										label(for="file-input-6" ) 
											img.svg(src="./assets/icons/down.svg", alt="")
											span Tải file lên
							.btn.btn-login(data-url="login")
								button.btn(type="submit") Đăng ký hội viên
		//- end main content
		#go-top
			//- img.svg(src="./assets/icons/gotop.svg")
		//- include scripts
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")
		block scripts