section.re-project {
    padding-top: 90px;
    @media (max-width: 768.98px) {
        padding: 30px 0;
    }
    .detail__content {
        display: flex;
        flex-wrap: wrap;
    }
    .detail__left {
        position: relative;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
        padding-bottom: 20px;
        height: 100%;
        @media (max-width: 768.98px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        @media (min-width: 1440px) {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                transform: translateY(30px);
                width: 100%;
                height: 1px;
                background: map-get($mau, main-3);
            }
        }
    }
    .detail__right {
        height: calc(100% - 115px);
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
        padding-left: 84px;
        @media (max-width: 1449.98px) {
            padding-left: 50px;
        }
        @media (max-width: 910.98px) {
            padding-left: 25px;
        }
        @media (max-width: 768.98px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            padding-left: unset;
            flex-wrap: wrap;
        }
        h2 {
            font-family: Lato-Black;
            font-size: 25px;
            margin-bottom: 55px;
            text-transform: uppercase;
            @media (max-width: 1440.98px) {
                font-size: 25px;
            }
            @media (max-width: 1024.98px) {
                font-size: 20px;
                margin-bottom: 20px;
            }
            @media (max-width: 910.98px) {
                margin-bottom: 10px;
            }
            @media (max-width: 768.98px) {
                margin-bottom: 20px;
            }
            @media (max-width: 575.98px) {
                margin-bottom: 20px;
            }
        }
    }
    .content__desc {
        width: 100%;
        display: flex;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            left: 10px;
            background: map-get($mau, main-3);
        }
        &:last-child {
            margin-right: 0;
        }
        .item-info {
            padding-bottom: 10px;
            -webkit-box-flex: 0;
             flex: 0 0 40%;
             max-width: 35%;
        }
    }
    @media (max-width: 426px) {
        .content__desc {
            display: block;
            .item-info {
             max-width: 100%;
         }
        }
     }
    h2 {
        font-family: Lato-Black;
        font-size: 25px;
        color: map-get($mau, main-3);
        margin-bottom: 22px;
        @media (max-width: 1440.98px) {
            font-size: 25px;
        }
        @media (max-width: 768.98px) {
            font-size: 20px;
        }
    }
    .item-info {
        span {
            &:first-child {
            font-family: Lato-Bold;
            }
        }
    }
    ul {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-inline-start: 20px;
        color: map-get($mau, main-6);
        li {
            color: map-get($mau, main-6);
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                font-size: 16px;
                font-family: Lato-Regular;
                color: map-get($mau, main-6);
                @media (max-width: 1440.98px) {
                    font-size: 14px;
                }
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }
    img {
        padding-top: 30px;
        padding-bottom: 43px;
        width: 100%;
        @media (max-width: 1440.98px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    p {
        font-size: 16px;
        font-family: Lato-Regular;
        color: map-get($mau, main-6);
        margin-bottom: 10px;
        &:last-child {
            position: relative;
            margin-bottom: 0;
        }
        @media (max-width: 1440.98px) {
            font-size: 14px;
        }
    }
    .desc__listImg {
        position: relative;
        margin-top: 56px;
        margin-bottom: 40px;
        @media (max-width: 1440.98px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        img {
            padding: 0 0;
            &:nth-child(1) {
                width: 65%;
                object-fit: cover;
                height: 397px;
                padding-right: 20px;
                @media (max-width: 768.98px) {
                    height: 240px;
                }
            }
            &:nth-child(3) {
                width: 35%;
                position: absolute;
                width: 35%;
                height: 192px;
                bottom: 0;
                right: 0;
                object-fit: cover;
                @media (max-width: 768.98px) {
                    height: 115px;
                }
            }
            &:nth-child(2) {
                position: absolute;
                width: 35%;
                height: 192px;
                object-fit: cover;
                top: 0;
                right: 0;
                @media (max-width: 768.98px) {
                    height: 115px;
                }
            }
        }
    }
    .detail__related {
        @media (max-width: 768.98px) {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        @media (max-width: 575.98px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        a {
            display: block;
        }
        .item__img {
            height: 221px;
            overflow: hidden;
            @media (max-width: 1440.98px) {
                height: 130px;
            }
            @media (max-width: 768.98px) {
                height: 224px;
            }
            img {
                padding: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .5s ease-in-out;
            }

        }
        .item__content {
            padding: 12px 0;
            position: relative;
            @media (max-width: 768.98px) {
                padding: unset;
            }
            p {
                font-family: Lato-Bold;
                @media (max-width: 768.98px) {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    z-index: 10;
                    color: map-get($mau, main-2);
                }
            }
        }
        .related__item {
            @media (min-width: 1025px) {
                &:hover {
                    .item__content {
                        p {
                            color: map-get($mau, main-3);
                        }
                    }
                    .item__img {
                        img {
                            transform: scale(1.1);
                            transition: all .5s ease-in-out;
                        }
                    }
                }
            }

            display: block;
            position: relative;
            margin-bottom: 25px;
            @media (max-width: 768.98px) {
                margin-bottom: 10px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: map-get($mau, main-3);
                @media (max-width: 768.98px) {
                    content: none;
                }
            }
        }
    }
    .detail__Adc {
        @media (max-width: 910.98px) {
            img {
                height: 100% !important;
            }
        }
        @media (max-width: 768.98px) {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            padding-left: 10px;
            margin-top: 50px;
            img {
                height: 100% !important;
            }
        }
        @media (max-width: 575.98px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 0;
            margin-top: 20px;
        }
        margin-top: 60px;
        .swiper-slide {
            height: 100%;
            width: 100%;
        }
        img {
            width: 100%;
            padding: unset;
            height: 840px;
        }
    }
}