.libary,
.libary-video,
.libary-document {
	.block__main--title {
		margin-bottom: 40px;
		@media (max-width: 767.98px) {
			margin-bottom: 20px !important;
		}
	}
	@media (max-width: 1024.98px) {
		padding-bottom: 20px !important;
	}
}
.libary {
	background: #EFEFEF !important;
	padding: 80px 0;
	
	.image__wrapper {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 20px;
		grid:'myArea myArea . .'
		'myArea myArea . .'
		'. . a a'
		'. . a a';
		margin-bottom: 30px;
		&.full {
			& > div {
				&:first-child {
					grid-area: myArea;
				}
				&:last-child {
				grid-area: a;
				}
				@media (max-width: 1024.98px) {
					grid-area: unset !important;
				}
			}
		}
		@media (max-width: 1024.98px) {
			grid: unset;
			grid-template-columns: auto auto;
			grid-gap: 10px;
		}
		@media (max-width: 575.98px) {
			grid-template-columns: auto;
		}
	}
	.libary--image {
		margin-bottom: 50px;
		.block--item--img {
			a {
				height: 100%;
				.img {
					height: 100%;
				}
			}
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 10px;
		}
	}
	.news__slider {
		padding-bottom: 0 !important;
	}
	@media (max-width: 1024.98px) {
		padding: 20px 0;
	}
}

.pagination {
	width: 100%;
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding-left: 0;
	li {
		margin-right: .5rem;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			font-family: Lato-Heavy;
			font-size: 13px;
			text-decoration: none;
			transition: all .2s cubic-bezier(.2, .5, .5, .8);
			color: map-get($mau, x-white);
			border: 1px solid map-get($mau, main-3);
		}
		&:hover {
			a {
				transition: all .2s cubic-bezier(.2, .5, .5, .8);
				font-family:Lato-Heavy;
				color: map-get($mau, main-1);
			}
		}
		&.pagination-dot {
			a {
				border: none !important;
			}
		}
		&.active {
			a {
				font-family: SVN--Bold;
				text-decoration: none;
				color: map-get($mau, main-1);
			}
		}
		&.pagination-prev,
		&.pagination-next  {
			background: map-get($mau, main-3);
			position: relative;
			&::before {
				content: "";
				pointer-events: none;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 12px;
				height: 20px;
				background-size: 100% 100%;
			}
			&.disable {
				background: rgba($color: #E37313, $alpha: .36);
			}
		}
		&.pagination-prev {
			&::before {
				background: url("../assets/images/stuff/prev.png") no-repeat;
			}
		}	
		&.pagination-next {
			&::before {
				background: url("../assets/images/stuff/next.png") no-repeat;
			}
		}
		@media (max-width: 575.98px) {
			margin: 0;
		}
	}
	@media (max-width: 1024.98px) {
		li {
			a {
				font-size: 14px;
			}
		}
	}
}