.libary-video {
	background: #EFEFEF !important;
	padding-bottom: 80px;
	.block__main--title {
		margin-bottom: 40px;
	}
}
.list--video {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-gap: 30px;
	@media (max-width: 1024.98px) {
		grid-gap: 10px;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@media (max-width: 575.98px) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
.libary-document {
	background: #EFEFEF !important;
	padding-bottom: 80px;
	.block__main--title {
		margin-bottom: 70px;
	}
	.hot-news--banner {
		.swiper-container {
			height: 100%;
		}
	}
	.rule-item {
		padding: 15px;
	}
	@media (max-width: 767.98px) {
		.rule {
			margin-bottom: 20px;
		}
	}
}

.fancybox-bg {
	background: #1C1C1C !important;
	opacity: .9 !important;
}
.swiper-button__wrapper {
	width: 60%;
    height: 44px;
    z-index: 10;
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translateX(-50%);
}

#popupImage {
	height: 70%;
	background: transparent;
	@media (max-width: 1439.98px) {
		height: 50%;
	}
	@media (max-width: 767.98px) {
		height: auto;
	}
	&.popup-libary {
		padding: 0;
	}
	.swiper-slide {
		.img-slide {
			height: 100%;
			transform: scale(.8);
			transition: 1s all ease-in-out;
		}
	}
	.swiper-slide-active {
		.img-slide {
			height: 100%;
			transform: scale(1);
			transition: 1s all ease-in-out;
		}
	}
	.popup__wrapper {
		height: 100%;
		.swiper-container {
			height: 100%;
		}
	}
}