section.executive-committee-page
	.container
		.container-1385px
			.block__main--title
				h2.title Ban Chuyên Đề
			.main-decs--title
				p.decs
					!= "Là ban trực thuộc CLB Bất Động Sản Việt Nam (VREC) & CLB Bất Động Sản TP.Hồ Chí Minh (HREC). </br> Trưởng ban: Ông Huỳnh Tấn Gia Thạnh – Phó Chủ tịch VREC  HREC </br> Thành lập và đưa vào hoạt động Ban Hội Viên với mục tiêu tổ chức các hoạt động giao lưu, gắn kết và hợp tác giữa các hội viên mang đến lợi ích thiết thực đồng thời tạo ra giá trị tăng trưởng cho các Doanh Nghiệp Hội Viên."
			.block-executive-committee
				.executive-committee__wrapper.row
						.executive-committee-active.col-lg-6
						.executive-committee-swiper__wrapper.col-lg-6
							.swiper-container
								.swiper-wrapper
									-for(var i = 0;i < 8; i++)
										.swiper-slide
											.block__main--model.ov-h
												.item__wrapper
													.model--img
														img.ofcv.lazyload(data-src=`./assets/images/introduce/item-1.png`, alt="something")
													.model--desc.ov-h
														h2.title.lcl.lcl-1.tt-u mR. Lorem Ipsum
														p.company--position TRƯỞNG BAN HỘI VIÊN
														p.sub-title.lcl.lcl-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
														.list--info.row
															-for(var j=0;j<4;j++)
																.item-info.col-6
																	.row
																		.img.col-2
																			img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
																		.desc.col-10
																			p.lcl.lcl-1 Lorem Ipsum is dummy.
							.swiper-button-next
							.swiper-button-prev
section.executive-committee-page
	.container
		.container-1385px
			.block__main--title
				h2.title Ban Pháp Lý
			.main-decs--title
				p.decs
					!= "Là ban trực thuộc CLB Bất Động Sản Việt Nam (VREC) & CLB Bất Động Sản TP.Hồ Chí Minh (HREC). </br> Trưởng ban: Ông Huỳnh Tấn Gia Thạnh – Phó Chủ tịch VREC  HREC </br> Thành lập và đưa vào hoạt động Ban Hội Viên với mục tiêu tổ chức các hoạt động giao lưu, gắn kết và hợp tác giữa các hội viên mang đến lợi ích thiết thực đồng thời tạo ra giá trị tăng trưởng cho các Doanh Nghiệp Hội Viên."
			.block-executive-committee
				.executive-committee__wrapper.row
						.executive-committee-swiper__wrapper.col-lg-6
							.swiper-container
								.swiper-wrapper
									-for(var i = 0;i < 8; i++)
										.swiper-slide
											.block__main--model.ov-h
												.item__wrapper
													.model--img
														img.ofcv.lazyload(data-src=`./assets/images/introduce/item-1.png`, alt="something")
													.model--desc.ov-h
														h2.title.lcl.lcl-1.tt-u mR. Lorem Ipsum
														p.company--position TRƯỞNG BAN HỘI VIÊN
														p.sub-title.lcl.lcl-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
														.list--info.row
															-for(var j=0;j<4;j++)
																.item-info.col-6
																	.row
																		.img.col-2
																			img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
																		.desc.col-10
																			p.lcl.lcl-1 Lorem Ipsum is dummy.
							.swiper-button-next
							.swiper-button-prev
						.executive-committee-active.col-lg-6
.banner-QC
	section.News
		.container
			.container-1385px
				.news__slider
					.nSlider__row
						.nSlider__col.left
							.swiper-container
								.swiper-wrapper
									.swiper-slide
										a(href="#")
											img(src="./assets/images/news-events/s2.png", alt="alooo")
						.nSlider__col.right
							.swiper-container
								.swiper-wrapper
									.swiper-slide
										a(href="#")
											img(src="./assets/images/news-events/s1.png", alt="alooo")
section.executive-committee-page
	.container
		.container-1385px
			.block__main--title
				h2.title Ban đầu tư & phát triển
			.main-decs--title
				p.decs
					!= "Là ban trực thuộc CLB Bất Động Sản Việt Nam (VREC) & CLB Bất Động Sản TP.Hồ Chí Minh (HREC). </br> Trưởng ban: Ông Huỳnh Tấn Gia Thạnh – Phó Chủ tịch VREC  HREC </br> Thành lập và đưa vào hoạt động Ban Hội Viên với mục tiêu tổ chức các hoạt động giao lưu, gắn kết và hợp tác giữa các hội viên mang đến lợi ích thiết thực đồng thời tạo ra giá trị tăng trưởng cho các Doanh Nghiệp Hội Viên."
			.block-executive-committee
				.executive-committee__wrapper.row
						.executive-committee-active.col-lg-6
						.executive-committee-swiper__wrapper.col-lg-6
							.swiper-container
								.swiper-wrapper
									-for(var i = 0;i < 8; i++)
										.swiper-slide
											.block__main--model.ov-h
												.item__wrapper
													.model--img
														img.ofcv.lazyload(data-src=`./assets/images/introduce/item-1.png`, alt="something")
													.model--desc.ov-h
														h2.title.lcl.lcl-1.tt-u mR. Lorem Ipsum
														p.company--position TRƯỞNG BAN HỘI VIÊN
														p.sub-title.lcl.lcl-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
														.list--info.row
															-for(var j=0;j<4;j++)
																.item-info.col-6
																	.row
																		.img.col-2
																			img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
																		.desc.col-10
																			p.lcl.lcl-1 Lorem Ipsum is dummy.
							.swiper-button-next
							.swiper-button-prev
section.executive-committee-page
	.container
		.container-1385px
			.block__main--title
				h2.title Ban xây dựng & công nghệ
			.main-decs--title
				p.decs
					!= "Là ban trực thuộc CLB Bất Động Sản Việt Nam (VREC) & CLB Bất Động Sản TP.Hồ Chí Minh (HREC). </br> Trưởng ban: Ông Huỳnh Tấn Gia Thạnh – Phó Chủ tịch VREC  HREC </br> Thành lập và đưa vào hoạt động Ban Hội Viên với mục tiêu tổ chức các hoạt động giao lưu, gắn kết và hợp tác giữa các hội viên mang đến lợi ích thiết thực đồng thời tạo ra giá trị tăng trưởng cho các Doanh Nghiệp Hội Viên."
			.block-executive-committee
				.executive-committee__wrapper.row
						.executive-committee-swiper__wrapper.col-lg-6
							.swiper-container
								.swiper-wrapper
									-for(var i = 0;i < 8; i++)
										.swiper-slide
											.block__main--model.ov-h
												.item__wrapper
													.model--img
														img.ofcv.lazyload(data-src=`./assets/images/introduce/item-1.png`, alt="something")
													.model--desc.ov-h
														h2.title.lcl.lcl-1.tt-u mR. Lorem Ipsum
														p.company--position TRƯỞNG BAN HỘI VIÊN
														p.sub-title.lcl.lcl-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
														.list--info.row
															-for(var j=0;j<4;j++)
																.item-info.col-6
																	.row
																		.img.col-2
																			img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
																		.desc.col-10
																			p.lcl.lcl-1 Lorem Ipsum is dummy.
							.swiper-button-next
							.swiper-button-prev
						.executive-committee-active.col-lg-6
section.executive-committee-page
	.container
		.container-1385px
			.block__main--title
				h2.title Ban truyền thông đôi ngoại
			.main-decs--title
				p.decs
					!= "Là ban trực thuộc CLB Bất Động Sản Việt Nam (VREC) & CLB Bất Động Sản TP.Hồ Chí Minh (HREC). </br> Trưởng ban: Ông Huỳnh Tấn Gia Thạnh – Phó Chủ tịch VREC  HREC </br> Thành lập và đưa vào hoạt động Ban Hội Viên với mục tiêu tổ chức các hoạt động giao lưu, gắn kết và hợp tác giữa các hội viên mang đến lợi ích thiết thực đồng thời tạo ra giá trị tăng trưởng cho các Doanh Nghiệp Hội Viên."
			.block-executive-committee
				.executive-committee__wrapper.row
						.executive-committee-active.col-lg-6
						.executive-committee-swiper__wrapper.col-lg-6
							.swiper-container
								.swiper-wrapper
									-for(var i = 0;i < 8; i++)
										.swiper-slide
											.block__main--model.ov-h
												.item__wrapper
													.model--img
														img.ofcv.lazyload(data-src=`./assets/images/introduce/item-1.png`, alt="something")
													.model--desc.ov-h
														h2.title.lcl.lcl-1.tt-u mR. Lorem Ipsum
														p.company--position TRƯỞNG BAN HỘI VIÊN
														p.sub-title.lcl.lcl-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
														.list--info.row
															-for(var j=0;j<4;j++)
																.item-info.col-6
																	.row
																		.img.col-2
																			img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
																		.desc.col-10
																			p.lcl.lcl-1 Lorem Ipsum is dummy.
							.swiper-button-next
							.swiper-button-prev
section.executive-committee-page
	.container
		.container-1385px
			.block__main--title
				h2.title Ban đào tạo
			.main-decs--title
				p.decs
					!= "Là ban trực thuộc CLB Bất Động Sản Việt Nam (VREC) & CLB Bất Động Sản TP.Hồ Chí Minh (HREC). </br> Trưởng ban: Ông Huỳnh Tấn Gia Thạnh – Phó Chủ tịch VREC  HREC </br> Thành lập và đưa vào hoạt động Ban Hội Viên với mục tiêu tổ chức các hoạt động giao lưu, gắn kết và hợp tác giữa các hội viên mang đến lợi ích thiết thực đồng thời tạo ra giá trị tăng trưởng cho các Doanh Nghiệp Hội Viên."
			.block-executive-committee
				.executive-committee__wrapper.row
						.executive-committee-swiper__wrapper.col-lg-6
							.swiper-container
								.swiper-wrapper
									-for(var i = 0;i < 8; i++)
										.swiper-slide
											.block__main--model.ov-h
												.item__wrapper
													.model--img
														img.ofcv.lazyload(data-src=`./assets/images/introduce/item-1.png`, alt="something")
													.model--desc.ov-h
														h2.title.lcl.lcl-1.tt-u mR. Lorem Ipsum
														p.company--position TRƯỞNG BAN HỘI VIÊN
														p.sub-title.lcl.lcl-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
														.list--info.row
															-for(var j=0;j<4;j++)
																.item-info.col-6
																	.row
																		.img.col-2
																			img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
																		.desc.col-10
																			p.lcl.lcl-1 Lorem Ipsum is dummy.
							.swiper-button-next
							.swiper-button-prev
						.executive-committee-active.col-lg-6
section.executive-committee-page
	.container
		.container-1385px
			.block__main--title
				h2.title Ban golf
			.main-decs--title
				p.decs
					!= "Là ban trực thuộc CLB Bất Động Sản Việt Nam (VREC) & CLB Bất Động Sản TP.Hồ Chí Minh (HREC). </br> Trưởng ban: Ông Huỳnh Tấn Gia Thạnh – Phó Chủ tịch VREC  HREC </br> Thành lập và đưa vào hoạt động Ban Hội Viên với mục tiêu tổ chức các hoạt động giao lưu, gắn kết và hợp tác giữa các hội viên mang đến lợi ích thiết thực đồng thời tạo ra giá trị tăng trưởng cho các Doanh Nghiệp Hội Viên."
			.block-executive-committee
				.executive-committee__wrapper.row
						.executive-committee-active.col-lg-6
						.executive-committee-swiper__wrapper.col-lg-6
							.swiper-container
								.swiper-wrapper
									-for(var i = 0;i < 8; i++)
										.swiper-slide
											.block__main--model.ov-h
												.item__wrapper
													.model--img
														img.ofcv.lazyload(data-src=`./assets/images/introduce/item-1.png`, alt="something")
													.model--desc.ov-h
														h2.title.lcl.lcl-1.tt-u mR. Lorem Ipsum
														p.company--position TRƯỞNG BAN HỘI VIÊN
														p.sub-title.lcl.lcl-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
														.list--info.row
															-for(var j=0;j<4;j++)
																.item-info.col-6
																	.row
																		.img.col-2
																			img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
																		.desc.col-10
																			p.lcl.lcl-1 Lorem Ipsum is dummy.
							.swiper-button-next
							.swiper-button-prev