section.News {
    padding-top: 90px;
    @media (max-width: 1024.98px) {
        padding-top: 40px;
    }
    background: #525866;
    .newsHREC__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-right: -10px;
        margin-left: -10px;
    }
    .news__item {
        .news--desc {
            h2 {
                color: map-get($mau, main-2);
                font-family: Lato-Black;
                font-size: 20px;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                margin-bottom: 8px;
                @media (max-width: 1440.98px) {
                    font-size: 18px;
                }
            }
            p {
                color: map-get($mau, main-2);
                font-family: Lato-Regular;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-size: 16px;
                @media (max-width: 1440.98px) {
                    font-size: 14px;
                }
            }
        }
        &:nth-child(1),
        &:nth-child(2) {
            padding-right: 10px;
            padding-left: 10px;
            width: 50%;
            flex: 0 0 50%;
            margin-bottom: 40px;
            .btn {
                display: flex;
            }
            .news--img {
                height: 450px;
            }
            .news--desc {
                p {
                    margin-bottom: 10px;
                }
            }
            @media (max-width: 1024.98px) {
                padding: 0 5px;
                margin-bottom: 20px;
            }
            @media (max-width: 575.98px) {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .block__main--news {
                .news--img {
                    &::before {
                        background: linear-gradient(to bottom, #525866 0%, #292c33 100%) no-repeat;
                        background-size: 100% 100%;
                        opacity: 0.5;
                    }
                    &::after {
                        background: url("../assets/images/news-events/hover-big.png") no-repeat;
                        background-size: 100% 100%;
                        opacity: 0.6 !important;
                    }
                }
                @media (min-width: 1025px) {
                    &:hover {
                        .news--img {
                            img {
                                transform: scale(1.1);
                                transition: 1s all ease-in-out;
                            }
                            &::before {
                                transition: 1s all ease-in-out;
                                opacity: 0;
                            }
                            &::after {
                                opacity: 0.5;
                                transition: 1s all ease-in-out;
                                transform: translateY(0%);
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(1) {
            padding-right: 10px;
            @media (max-width: 1024.98px) {
                padding-right: 5px;
            }
        }
        &:nth-child(2) {
            padding-left: 10px;
            @media (max-width: 1024.98px) {
                padding-left: 5px;
            }
        }
        &:not(:first-child):not(:nth-child(2)) {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
            padding-right: 10px;
            padding-left: 10px;
            .btn {
                display: none;
            }
            .news--img {
                height: 218px;
                overflow: hidden;
                &:before {
                    background: linear-gradient(to bottom, #525866 0%, #292c33 100%);
                    opacity: 0.3;
                }
                &::after {
                    background: url("../assets/images/news-events/hover-small.png") no-repeat !important;
                    opacity: 0.5;
                }
            }
            .news--desc {
                margin-top: 10px;
                border: 1px solid map-get($mau, main-3);
                padding: 17px;
                position: relative;
                width: 100%;
                left: 0;
                bottom: 0;
                transform: none;
                height: auto;
                h2 {
                    font-size: 20px;
                    font-family: Lato-Bold;
                }
            }
            @media (max-width: 1024.98px) {
                padding: 0 5px;
            }
            @media (max-width: 768.98px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;
            }
            .block__main--news {
                @media (min-width: 1025px) {
                    &:hover {
                        .news--img {
                            img {
                                transform: scale(1.1);
                                transition: 1s all ease-in-out;
                            }
                            &::before {
                                transition: 1s all ease-in-out;
                                opacity: 0;
                                background-size: 100% 100% !important;
                            }
                            &::after {
                                opacity: 0.5;
                                transition: 1s all ease-in-out;
                                transform: translateY(0%);
                                background-size: 100% 100% !important;
                            }
                        }
                        .news--desc {
                            transition: 1s all ease-in-out;
                            background: map-get($mau, main-3);
                            color: map-get($mau, main-2);
                        }
                    }
                    .news--desc {
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
            padding-right: 10px;
            padding-left: 10px;
            .btn {
                display: none;
            }
            .news--img {
                overflow: hidden;
                height: 218px;
                img {
                    transition: all 0.5s ease-in-out;
                }
            }
            .news--date {
                top: 21px;
                left: 18px;
            }
            .news--desc {
                margin-top: 10px;
                border: 1px solid map-get($mau, main-3);
                padding: 17px;
                position: relative;
                width: 100%;
                left: 0;
                bottom: 0;
                transform: none;
                height: auto;
            }
            @media (max-width: 1024.98px) {
                padding: 0 5px;
            }
            @media (max-width: 768.98px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;
            }
            @media (max-width: 575.98px) {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .market__HREC {
        margin-top: 80px;
        padding-bottom: 60px;
        @media (max-width: 1024.98px) {
            margin-top: 40px;
            padding-bottom: 30px;
        }
        .block__main--title {
            margin-bottom: 40px;
        }
        h2.title {
            color: map-get($mau, main-2);
        }
        p.sub-title {
            color: map-get($mau, main-2);
        }
    }
    .block__HREC {
        @media (max-width: 768.98px) {
            margin-bottom: 40px;
        }
        @media (max-width: 575.98px) {
            margin-bottom: 20px;
        }
    }
    .block__HREC.right,
    .block__HREC.left {
        .swiper-wrapper {
            display: grid;
            grid-template-columns: 1fr; // based on slidesPerView
            grid-template-rows: auto auto auto auto; // based on slidesPerColumn
            grid-auto-flow: column;
        }
        position: relative;
        margin-bottom: 60px;
        @media (max-width: 1024.98px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 10px;
        }
        .swiper-slide {
            @media (max-width: 1024.98px) {
                width: 100%;
                .item--desc {
                    align-self: center;
                }
            }
        }
        .swiper-button-disabled {
            background: map-get($mau, main-1);
        }
    }
    .block__HREC.right {
        .swiper-button-next {
            right: 10px;
            top: 103%;
        }
        .swiper-button-prev {
            top: 103%;
            left: calc(100% - 110px);
            @media (max-width: 575.98px) {
                left: unset;
                right: 48px;
            }
        }
    }
    .block__HREC.left {
        .swiper-button-next {
            right: 40px;
            top: 103%;
            @media (max-width: 575.98px) {
                top: 102%;
                right: 10px;
            }
        }
        .swiper-button-prev {
            top: 103%;
            left: calc(100% - 140px);
            @media (max-width: 575.98px) {
                top: 102%;
                left: unset;
                right: 48px;
            }
        }
    }
    .block__HREC.right {
        @media (max-width: 1024.98px) {
            padding-left: 10 !important;
        }
    }
    .news__slider {
        padding-bottom: 0;
        @media (max-width: 1024.98px) {
            padding-bottom: 50px;
        }
        .swiper-wrapper {
            transform: translate3d(0, 0px, 0px) !important;
            // width: 100px !important;
        }
        .nSlider__row {
            display: flex;
            flex-wrap: wrap;
        }
        .nSlider__col {
            flex: 0 0 50%;
            max-width: 50%;
            @media (max-width: 768.98px) {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            &:first-child {
                padding-right: 10px;
                @media (max-width: 768.98px) {
                    padding-right: 0;
                    margin-bottom: 20px;
                }
            }
            &:last-child {
                padding-left: 10px;
                @media (max-width: 768.98px) {
                    padding-left: 0;
                }
            }
            .swiper-slide {
                width: 100%;
            }
            img {
                width: 100%;
            }
        }
    }
}