section.libary.News
	.container
		.container-1385px.libary__wrappper
			.block__main--title
					h2.title Hình ảnh
					a(href="#").btn.btn--readmore
						span Xem thêm
						img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
			.libary--image
				.image__wrapper
					-for(var i = 0; i <10;i ++)
						.block--item--img
							a(href="javascript:;")
								.img
									img.ofcv(src=`./assets/images/libary/item-${i + 1}.png`, alt="")
								.desc
									p.lcl.lcl-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nesciunt, eius, aperiam quia sunt aliquid, fuga perferendis mollitia reprehenderit rem possimus ex sapiente animi ullam reiciendis enim. Quos, eaque veniam!
								.d-n
									.swiper-container
										.swiper-wrapper
											-for(var j = 0; j <3;j ++)
												.swiper-slide
													.img-slide
														img.ofcv(src=`./assets/images/libary/slide-${j + 1}.png`, alt="")
									.swiper-button__wrapper
										.swiper-button-next
										.swiper-button-prev
				ul.pagination
					li.pagination-prev(data-url="asd")
						a(href="asd")
					li(data-url="asd")
						a(href="asd") 1
					li(data-url="asd")
						a(href="#") 2
					li(data-url="asd")
						a(href="#") 3
					
					li(data-url="asd").pagination-dot
						a(href="#") ...
					li(data-url="asd")
						a(href="#") 13
					li(data-url="asd")
						a(href="#") 14
					li(data-url="asd")
						a(href="#") 15
					li(data-url="asd").pagination-next
						a(href="#")
			.news__slider
				.nSlider__row
					.nSlider__col.left
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="#")
										img(src="./assets/images/news-events/s2.png", alt="alooo")
					.nSlider__col.right
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="#")
										img(src="./assets/images/news-events/s1.png", alt="alooo")
			.d-n
				#popupImage.popup-libary
					.popup__wrapper
section.libary-video
	.container
		.container-1385px.libari-video__wrapper
			.block__main--title
				h2.title Video
				a(href="#").btn.btn--readmore
					span Xem thêm
					img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
			.list--video
				-for(var i = 0; i <6;i ++)
					.block--item--img.video
						a( data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
							.img
								img.ofcv(src=`./assets/images/libary/item-${i + 1}.png`, alt="")
							.desc
								p.lcl.lcl-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nesciunt, eius, aperiam quia sunt aliquid, fuga perferendis mollitia reprehenderit rem possimus ex sapiente animi ullam reiciendis enim. Quos, eaque veniam!
section.libary-document
	.container
		.container-1385px.libary-document__wrapper
			.block__main--title
				h2.title Tài Liệu
				a(href="#").btn.btn--readmore
					span Xem thêm
					img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
			.row
				.rule.col-lg-9.col-md-7
					.rule-item
						.title
							h2.tt-u Quy Chế
						.rule-content
							.desc
								p CHƯƠNG I - QUY ĐỊNH CHUNG
								p
									!= "<span>Điều 6:</span> Điều kiện để thành Hội viên Câu lạc bộ"
								p
									!= "<span>1. </span>Phải có tư cách pháp nhân, hoạt động trong lĩnh vực đầu tư kinh doanh, môi giới bất động sản và các tổ chức pháp nhân khác có ngành nghề liên quan đến bất động sản như: Luật, chứng khoán, ngân hàng, kiểm toán xây dựng, vật liệu xây dựng…"
							.see-and-down
								.btn.btn--see-and-down
									a(href="https://drive.google.com/file/d/1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN/edit",target="_bank") Xem tài liệu
									a(href="https://drive.google.com/u/0/uc?id=1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN&export=download", download) Tải PDF
					.rule-item
						.title
							h2.tt-u Điều Lệ
						.rule-content
							.desc
								p CHƯƠNG I - QUY ĐỊNH CHUNG
								p
									!= "<span>Điều 6:</span> Điều kiện để thành Hội viên Câu lạc bộ"
								p
									!= "<span>1. </span>Phải có tư cách pháp nhân, hoạt động trong lĩnh vực đầu tư kinh doanh, môi giới bất động sản và các tổ chức pháp nhân khác có ngành nghề liên quan đến bất động sản như: Luật, chứng khoán, ngân hàng, kiểm toán xây dựng, vật liệu xây dựng…"
							.see-and-down
								.btn.btn--see-and-down
									a(href="https://drive.google.com/file/d/1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN/edit",target="_bank") Xem tài liệu
									a(href="https://drive.google.com/u/0/uc?id=1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN&export=download", download) Tải PDF
					.rule-item
						.title
							h2.tt-u Điều Lệ
						.rule-content
							.desc
								p CHƯƠNG I - QUY ĐỊNH CHUNG
								p
									!= "<span>Điều 6:</span> Điều kiện để thành Hội viên Câu lạc bộ"
								p
									!= "<span>1. </span>Phải có tư cách pháp nhân, hoạt động trong lĩnh vực đầu tư kinh doanh, môi giới bất động sản và các tổ chức pháp nhân khác có ngành nghề liên quan đến bất động sản như: Luật, chứng khoán, ngân hàng, kiểm toán xây dựng, vật liệu xây dựng…"
							.see-and-down
								.btn.btn--see-and-down
									a(href="https://drive.google.com/file/d/1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN/edit",target="_bank") Xem tài liệu
									a(href="https://drive.google.com/u/0/uc?id=1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN&export=download", download) Tải PDF
					ul.pagination
						li(data-url="asd").pagination-prev
							a(href="#")
						li(data-url="asd")
							a(href="#") 1
						li(data-url="asd")
							a(href="#") 2
						li(data-url="asd")
							a(href="#") 3
						
						li(data-url="asd").pagination-dot
							a(href="#") ...
						li(data-url="asd")
							a(href="#") 13
						li(data-url="asd")
							a(href="#") 14
						li(data-url="asd")
							a(href="#") 15
						li(data-url="asd").pagination-next
							a(href="#")
				.hot-news--banner.banner.col-lg-3.col-md-5
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img.ofcv(src="./assets/images/introduce/banner-rule.png", alt="")