.home__stuff {
	margin-bottom: 140px;
	@media (max-width: 1024.98px) {
		margin-bottom: 80px;
	}
	.block__main--title {
		margin-bottom: 55px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.home__stuff--event__wrapper {
		position: relative;
		.swiper-container {
			padding: 10px 0;
			margin: 0 50px;
			.swiper-slide {
				padding: 0 30px;
			}
			@media (max-width: 1440px) {
				.swiper-slide {
					padding: 0 5px;
				}
			}
			// @media (max-width: 1024.98px) {
			// 	.swiper-slide {
			// 		padding: 0 34px;
			// 	}
			// }
		
			
			@media (max-width: 575.98px) {
				margin: 0 0px;
				.swiper-slide {
					padding: 0 0px;
					.model--img {
						height: 200px;
					}
				}
			}
		}
		.block__main--model {
			.model--img {
				margin-bottom: 10px;
				img {
					height: 297px;
				}
			}
			.model--desc {
				background: #fff;
				box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .13);
			}
			@media (min-width: 1025px) {
				&:hover {
					.model--img {
						img {
							height: 297px;
							transform: scale(1.1);
							transition: all 1s ease-in-out;
						}
						&::before {
							z-index: 10;
							transition: 1s all ease-in-out;
							background: url("../assets/images/homepage/hot-project-after.png")
								no-repeat;
							object-fit: cover;
							object-position: center;
							font-family: "object-fit: cover, object-position: center";
							background-size: cover;
						}
					}
					.model--desc {
						transition: 1s all ease-in-out;
						box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .57);
						background: map-get($mau, main-3);
						h2.title {
							color: map-get($mau, main-2);
							transition: .3s all ease-in-out;
						}
						p.sub-title {
							transition: .3s all ease-in-out;
							color: map-get($mau, main-2);
						}
					}
				}
			}
		}
	
		.swiper-button-next, .swiper-button-prev {
			@media (max-width: 575.98px) {
				top: unset;
				bottom: -40px;
				&.swiper-button-next {
					right: calc(50% - 50px);
					@media (max-width: 575.98px) {
						right: calc(50% - 35px);
					}
				}
				&.swiper-button-prev {
					left: calc(50% - 50px);
					@media (max-width: 575.98px) {
						left: calc(50% - 35px);
					}
				}
			}
		}
	}
}
//Section Hội Viên Mới
.home__new-member {
	margin-bottom: 140px;
	@media (max-width: 1024.98px) {
		margin-bottom: 60px;
	}
	.block__main--title {
		margin-bottom: 55px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.home__stuff--event__wrapper {
		position: relative;
		margin-left: -70px;
		margin-right: -70px;
		.swiper-slide {
			padding-top: 85px;
			padding-bottom: 10px;
			padding: 0 70px;
			transition: 1s all ease;
			.block__main--model {
				max-height: 315px;
				.model--img {
					max-height: 212px;
					&::before {
						background: url("../assets/images/homepage/new-member-before.png");
					}
				}
				.model--desc {
					h2.title {
						font-family: Lato-Heavy;
						margin: 0;
					}
				}
				.list--info {
					display: none ;
				}
			}
			@media (min-width: 1025px) {
				&.swiper-slide-active {
					transform: scale(1.1);
					padding: 0;
					.block__main--model {
						max-height: 380px;
					}
					.model--img {
						max-height: 360px !important;
						max-width: 565px !important;
					}
					.model--desc {
						display: none;
					}
					@media (max-width: 1440px) {
						padding-top: 30px;
					}
				}
			}
			
		}
		@media (max-width: 1024.98px) {
			margin-left: -20px;
			margin-right: -20px;
			.swiper-slide {
				padding: 10px 20px 10px 20px;
			}
		}
	}
}
.home__new-member--info {
	display: flex;
	justify-content: center;
	position: relative;
	.home__new-member--info__wrapper {
		display: none;
		@media (min-width: 1025px) {
			display: block;
			position: relative;
			max-width: 570px;
			padding: 10px 20px;
			border: 1px solid map-get($mau, main-3);
			h2.title {
				font-family: Lato-Heavy;
				color: map-get($mau, main-3);
				font-size: 25px;
			}
			p.sub-title {
				margin-bottom: 10px;
			}
			p {
				font-family: Lato-Regular;
			}
			&::after {
				z-index: 10;
				content: "";
				position: absolute;
				background: #EFEFEF;
				width: 100%;
				height: 1px;
				top: 50%;
				left: 0;
			}
			.item-info {
				margin-bottom: 10px;
			}
		}
	}
	@media (min-width: 1025px) {
		&::after {
			content: "";
			position: absolute;
			background: map-get($mau, main-3);
			width: 100%;
			height: 1px;
			top: 50%;
			left: 0;
		}
	}
}
.fake-swiper-button {
	.fake-swiper-button__wrapper {
		width: 100%;
		height: 20px;
	}
	.swiper-button-next {
		right: calc(50% - 50px);
		transform: translateX(-50%);
		@media (max-width: 575.98px) {
			right: calc(50% - 35px);
		}
	}
	.swiper-button-prev {
		left: calc(50% - 50px);
		transform: translateX(-50%);
		@media (max-width: 575.98px) {
			left: calc(50% - 35px);
		}
	}
	.swiper-button-prev.swiper-button-disabled {
		border: 2px solid map-get($mau, main-3);
		background: #EFEFEF;
		
	}
	.swiper-button-next.swiper-button-disabled {
		border: 2px solid map-get($mau, main-3);
		background: #EFEFEF;
	
	}
	
	.swiper-button-next, .swiper-button-prev {
		top: 120%;
		transform: translateY(0%);
	}
}

//swiper happy birthday
.member__happy-birthday {
	margin-bottom: 140px;
	@media (max-width: 1024.98px) {
		margin-bottom: 40px;
	}
	.block__main--title {
		margin-bottom: 55px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.birthday-event__wrapper {
		.swiper-container {
			.swiper-button-next, 
			.swiper-button-prev {
				top: unset;
				bottom: 0;
				right: 5px;
			}
			.swiper-button-prev {
				right: 54px;
				left: auto;
				@media (max-width: 575.98px) {
					right: 40px;
				}
			}
			.swiper-wrapper {
				padding-bottom: 60px;
			}
		}
		.banner {
			@media (max-width: 1024.98px) {
				display: flex;
				-ms-flex: 0 0 100% !important;
				flex: 0 0 100% !important;
			}
			@media (max-width: 768px) {
				.hot-news--banner {
					padding-bottom: 20px;
				}
			}
			margin-top: 100px;
		}
		
	}
	.block__main--model {
		position: relative;
		box-shadow: none;
		border-bottom: 1px solid map-get($mau, main-3);
		&::after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			background: map-get($mau, main-3);
			width: 1px;
			height: calc(100% - 396px);
		}
		&::before {
			position: absolute;
			content: "";
			bottom: 0;
			right: 0;
			background: map-get($mau, main-3);
			width: 1px;
			height: calc(100% - 396px);
		}
		height: 570px;

		.item-info {
			margin-bottom: 10px !important;
		}
		.model--img {
			max-height: 396px;
			position: relative;
			img {
				transition: 1s all ease-in-out
			}
			&::before {
				z-index: 10;
				background: url("../assets/images/homepage/birthday-hover.png") no-repeat !important;
				background-size: 100% 100%;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				background-size: cover !important;
				font-family: "object-fit: cover, object-position: center";
				transition: 1s all ease-in-out;
			}
		}
		.model--date {
			top: 21px;
			left: 18px;
			z-index: 10;
			display: inline-flex;
			position: absolute;
			background: map-get($mau, main-3);
			width: 110px;
			align-items: center;
			justify-content: center;
			height: 34px;
			top: 28px;
			left: 33px;
			span {
				font-family: Lato-Medium;
				color: map-get($mau, main-2);
		}
		}
		.model--desc {
			z-index: 11;
			max-width: 394px !important;
			max-height: 190px !important;
			padding: 25px 40px;
			width: calc(100% - 50px);
			height: 189px;
			position: absolute;
			bottom: 25px;
			left: 50%;
			transform: translateX(-50%);
			box-shadow: 2px 3px 10px rgba($color: #000000, $alpha: .1);
			transition: 1s all ease-in-out;
			.title-1 {
				display: none;
			}
			.title-info {
				display: none;
			}
			.content-title {
				display: none;
			}
			.info {
				display: none;
			}
			.sub-title {
				display: none;
			}
			.comp-info {
				display: none;
			}
		}
		@media (min-width: 1025px) {
			&:hover {
				.model--img {
					img {
						transform: scale(1.1);
						transition: all 1s ease-in-out;
					}
					&::before {
						transition: 1s all ease-in-out;
						opacity: 0;
					}
				}
				.model--desc {
					transition: 1s all ease;

					background: map-get($mau, main-3);
					h2.title {
						transition: 1s all ease;
						color: map-get($mau, main-2);
					}
					svg {
						path{
							transition: 1s all ease;
							fill: map-get($mau, main-2);
						}
					}
					p {
						transition: 1s all ease;
						color: map-get($mau, main-2);
					}
				}
			}
		}
	}
	.list--info {
		.item-info {
			display: block;
			-ms-flex: 0 0 100% !important;
			flex: 0 0 100% !important;
			max-width: 100% !important;
			.desc {
				padding-left: 20px;
			}
		}
	}
}