section.account
	.container
		.container-1385px.tab-container
			.account__wrapper
				.box-info
					.box-info__wrapper
						.box-header
							.img
								img(src="./assets/images/user/user.png", alt="")
							.text
								h3 NGUYỄN VĂN A
								p Tài khoản hội viên
						.box-body
							.user-info(toggle-for="item-1")
								img.svg(src="./assets/images/user/user-icon.svg", alt="")
								p Thông tin tài khoản
							.project-info
								.dropdown
									.text
										img.svg(src="./assets/images/user/clipboard.svg", alt="")
										p Thông tin dự án
									.dropdown-menu
										.item(toggle-for="item-2") 
											p + Đăng kí dự án mới
										.item(toggle-for="item-2") 
											p Dự án: example
											.d-n
												p id
												p Tên dự án
												p vị trí
												p Quy mô dự án
												p Năm hoàn thiệnk
												p Loại hình dự án
												p Thế mạnh doanh nghiệp
												p ./assets/images/connect/cn-1.png
												p nội dung dự án
										.item(toggle-for="item-2") 
											p Dự án: example
											.d-n
												p id
												p Tên dự án
												p vị trí
												p Quy mô dự án
												p Năm hoàn thiệnk
												p Loại hình dự án
												p Thế mạnh doanh nghiệp
												p ./assets/images/connect/cn-1.png
												p nội dung dự án
										.item(toggle-for="item-2") 
											p Dự án: example
											.d-n
												p id
												p Tên dự án
												p vị trí
												p Quy mô dự án
												p Năm hoàn thiệnk
												p Loại hình dự án
												p Thế mạnh doanh nghiệp
												p ./assets/images/connect/cn-1.png
												p nội dung dự án
							a(href="").log-out
								img.svg(src="./assets/images/user/log-out.svg", alt="")
								p Đăng xuất
				.tab-content 
					.content(tab-id="item-1").tab-user
						.tab-user__wrapper
							.title
								h3 THÔNG TIN TÀI KHOẢN
							form(action="")
								.form-group
									.text
										p Họ và tên:
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Điện thoại
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Email
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Ngày sinh
									.input
										input.date-picker(placeholder="Sellect Date" name="birthday")
								.form-group
									.text
										p Giới tính
									.input
										.gender
											.men
												.wrapper
													input(type="checkbox" id="male" value="true" name="name")
													label(for="male") Nam
											.women
												.wrapper
													input(type="checkbox" id="female" value="false" name="name")
													label(for="female") Nữ
											.diff
												.wrapper
													input(type="checkbox" id="other" name="name")
													label(for="other") Khác
								.form-group
									.text
										p Doanh nghiệp
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Chức vụ
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Năm thành lập
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Sản phẩm cụ thể
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Lĩnh vực kinh doanh
									.input
										input(type="text" name="name")
								.btn.btn-login(data-url="login")
									button.btn(type="submit") Cập nhật
					.content(tab-id="item-2").tab-project
						.tab-project__wrapper
							.title
								h3 ĐĂNG KÝ THÔNG TIN DỰ ÁN MỚI
							form(action="")
								.form-group(hidden)
									.text
										p id
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Tên dự án
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Vị trí
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Quy mơ dự án
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Năm hoàn thiện
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Loại hình dự án
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Thế mạnh doanh nghiệp
									.input
										input(type="text" name="name")
								.form-group
									.text
										p Hình ảnh dự án
									.input
										input(type="file" name="file-input-img" class="file-input" id="file-input-img")
										span.fakeinput Chua co file nao dc chon
										label(for="file-input-img" ) 
											img.svg(src="./assets/icons/down.svg", alt="")
											span Tải file lên
									.sample-img
										img.ofcv(src="", alt="")
								.form-group
									.text
										p Nội dung giới thiệu dự án
									.input
										textarea(name="name", cols="30", rows="10")
								.btn.btn-login(data-url="login")
									button.btn(type="submit") Cập nhật