
.new-mb {
	padding-top: 90px;
	.executive-committee__wrapper{
		padding-top: 50px;
		flex-direction: column;
		width: 100%;
	}
	.executive-committee-active {
		@media (min-width: 1025px) {
			.item__wrapper {
				display: flex;
				.model--desc {
					border: none;
					max-height: 100%;
					h2 {
						font-size: 25px;
						}
				}
				.model--img {
					margin-bottom: 0;
					max-width: 615px;
				}
			}
			.info {
				padding-bottom: 25px;
				display: flex;
				.name {
					padding-right: 30px;
				}
				span {
					font-size: 16px;
					font-weight: bold;
					color: #b69256 !important ;
				}
				&::after {
					position:absolute;
					background: #b69256;
					content: '';
					width: 42%;
					height: 1px;
					top:30%
				}
			}
			.comp-info {
				display: flex;
				flex-wrap: wrap;
				.infomem {
					padding-bottom: 10px;
				}
				p {
					
					font-size: 16px;
					font-weight: bold;
					color: #b69256 !important ;
				}
			}
			.sub-title {
				max-width: 600px;
			}
		}

		@media (max-width: 1024.98px) {
			.model--desc {
				max-height: none;
			}
		}
		@media (max-width: 485.98px) {
			.model--desc {
				padding: 30px 10px 20px 10px;
				.item-info {
					margin-bottom: 10px;
				}
				.info{
					text-align: center;
				}
			}
		}
		@media (max-width: 320.98px) {
			.model--desc {
				padding: 30px 5px 20px 5px;
				.info{
					text-align: center;
				}
				.item-info {
					margin-bottom: 10px;
				}
			}
		}
	}
	.executive-committee-swiper__wrapper-2 {
		padding-top: 35px;
		.swiper-container {
			padding-bottom: 65px;
			position: relative;
			.swiper-wrapper {
				@media (max-width: 1025px) {
					.comp-info {
						display: inline;
					}
				}
			}

			.swiper-button-next, 
			.swiper-button-prev {
				top: unset;
				bottom: 0;
				right: 5px;
			}
			.swiper-button-prev {
				right: 54px;
				left: auto;
				@media (max-width: 575.98px) {
					right: 40px;
				}
			}
		}
		
		.block__main--model {
			position: relative;
			width: 327px;
			height: 330px;
			border-bottom: 1px solid map-get($mau, main-3);
			&::after {
				position: absolute;
				content: "";
				bottom: 0;
				width: 100%;
				height: 4px;
				background: map-get($mau, main-3);
			}
			&::before {
				position: absolute;
				content: "";
				bottom: 0;
				left: 0;
				width: 1px;
				height: calc(100% - 230px);
				background: map-get($mau, main-3);
			}
			
			.model--img {
				max-height: 230px;
				img {
					height: 230px;
				}
				&::before {
					opacity: .3 !important;
				}
			}
			.model--desc {

				.info {
					display:none;
				}
				.comp-info {
					display: none;
				}
				padding: 20px 20px 25px 20px;
				position: absolute;
				bottom: 0;
				width: 100%;
				left: 50%;
				transform: translateX(-50%);
				h2 {
					margin-bottom: 0;
					font-family: Lato-Heavy;
					font-size: 20px;
					font-weight: normal;
					@media (max-width: 575.98px) {
						font-size: 16px;
					}
				}
				.list--info {
					display: none;
				}
			}
			
			@media (max-width: 575.98px) {
				max-width: 100%;
				margin: 0 auto;
			}
					&.active {
						.model--img {
							&::before {
								transition: all 1s ease-in-out;
								background: url("../assets/images/introduce/after-bch.png");
							}
						}
						.model--desc {
							transition: all .3s ease-in-out;
							background: map-get($mau, main-3);
							h2 {
								transition: all 1s ease-in-out;
								color: map-get($mau, main-2);
							}
							p {
								transition: all 1s ease-in-out;
								color: map-get($mau, main-2);
							}
						}
				}
		}
	
	}
}