
//swiper happy birthday
.member__happy-birthday {
	margin-bottom: 140px;
	@media (max-width: 1024.98px) {
		margin-bottom: 40px;
	}
	.block__main--title {
		margin-bottom: 55px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.birthday-event__wrapper {
		.swiper-container {
			.swiper-button-next, 
			.swiper-button-prev {
				top: unset;
				bottom: 0;
				right: 5px;
			}
			.swiper-button-prev {
				right: 54px;
				left: auto;
				@media (max-width: 575.98px) {
					right: 40px;
				}
			}
			.swiper-wrapper {
				padding-bottom: 60px;
			}
		}
		.banner {
			@media (max-width: 1024.98px) {
				display: flex;
				-ms-flex: 0 0 100% !important;
				flex: 0 0 100% !important;
			}
			@media (max-width: 768px) {
				.hot-news--banner {
					padding-bottom: 20px;
				}
			}
			margin-top: 100px;
		}
		
	}
	.block__main--model {
		position: relative;
		box-shadow: none;
		border-bottom: 1px solid map-get($mau, main-3);
		&::after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			background: map-get($mau, main-3);
			width: 1px;
			height: calc(100% - 396px);
		}
		&::before {
			position: absolute;
			content: "";
			bottom: 0;
			right: 0;
			background: map-get($mau, main-3);
			width: 1px;
			height: calc(100% - 396px);
		}
		height: 570px;

		.item-info {
			margin-bottom: 10px !important;
		}
		.model--img {
			max-height: 396px;
			position: relative;
			img {
				transition: 1s all ease-in-out
			}
			&::before {
				z-index: 10;
				background: url("../assets/images/homepage/birthday-hover.png") no-repeat !important;
				background-size: 100% 100%;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				background-size: cover !important;
				font-family: "object-fit: cover, object-position: center";
				transition: 1s all ease-in-out;
			}
		}
		.model--date {
			top: 21px;
			left: 18px;
			z-index: 10;
			display: inline-flex;
			position: absolute;
			background: map-get($mau, main-3);
			width: 110px;
			align-items: center;
			justify-content: center;
			height: 34px;
			top: 28px;
			left: 33px;
			span {
				font-family: Lato-Medium;
				color: map-get($mau, main-2);
		}
		}
		.model--desc {
			z-index: 11;
			max-width: 394px !important;
			max-height: 190px !important;
			padding: 25px 40px;
			width: calc(100% - 50px);
			height: 189px;
			position: absolute;
			bottom: 25px;
			left: 50%;
			transform: translateX(-50%);
			box-shadow: 2px 3px 10px rgba($color: #000000, $alpha: .1);
			transition: 1s all ease-in-out;
			.title-1 {
				display: none;
			}
			.title-info {
				display: none;
			}
			.content-title {
				display: none;
			}
			.info {
				display: none;
			}
			.sub-title {
				display: none;
			}
			.comp-info {
				display: none;
			}
		}
		@media (min-width: 1025px) {
			&:hover {
				.model--img {
					img {
						transform: scale(1.1);
						transition: all 1s ease-in-out;
					}
					&::before {
						transition: 1s all ease-in-out;
						opacity: 0;
					}
				}
				.model--desc {
					transition: 1s all ease;

					background: map-get($mau, main-3);
					h2.title {
						transition: 1s all ease;
						color: map-get($mau, main-2);
					}
					svg {
						path{
							transition: 1s all ease;
							fill: map-get($mau, main-2);
						}
					}
					p {
						transition: 1s all ease;
						color: map-get($mau, main-2);
					}
				}
			}
		}
	}
	.list--info {
		.item-info {
			display: block;
			-ms-flex: 0 0 100% !important;
			flex: 0 0 100% !important;
			max-width: 100% !important;
			.desc {
				padding-left: 20px;
			}
		}
	}
}

