.list-member {
	@media (max-width: 1024.98px) {
		.block__main--title {
			padding-bottom: 10px;
		}
	}
	.memberHREC__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-right: -10px;
        margin-left: -10px;
    }
    .news__item {
		padding-bottom: 20px;
        .model--desc {
            p {
                color: map-get($mau, main-1);
                font-family: Lato-Black;
                font-size: 20px;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                margin-bottom: 8px;
                @media (max-width: 1440.98px) {
                    font-size: 18px;
                }
            }
            p {
                color: map-get($mau, main-1);
                font-family: Lato-Regular;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-size: 16px;
                @media (max-width: 1440.98px) {
                    font-size: 14px;
                }
            }
            .list--info{
                display: none;
            }
            .comp-info {
                display: none;
            }
        }
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
            padding-right: 10px;
            padding-left: 10px;

            .model--img {
                height: 218px;
                overflow: hidden;
                &:before {
                    background: linear-gradient(to bottom, #525866 0%, #292c33 100%);
                    opacity: 0.3;
                }
                &::after {
                    background: url("../assets/images/news-events/hover-small.png") no-repeat !important;
                    opacity: 0.5;
                }
            }
            .model--desc {
                margin-top: 10px;
                border: 1px solid map-get($mau, main-3);
                padding: 17px;
                position: relative;
                width: 100%;
                left: 0;
                bottom: 0;
                transform: none;
                height: auto;
                .title {
                    span {
                        color: map-get($mau, main-3);
                        font-size: 20px;
                        font-family: Lato-Bold;
                    }
                }
                .title-1 {
                    display: none;
                }
                .info {
                        font-size: 16px;
                        font-family: Lato-Bold;
                        margin: 0;
                        .name {
                             display: none;
                        }
                }
            }
            @media (max-width: 1024.98px) {
                padding: 0 5px;
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
                margin-bottom: 20px;
            }
            @media (max-width: 768.98px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;
            }
            .block__main--model {
                height: 100%;
                a {
                    display: flex;
                    flex-direction: column;
                    .model--img {
                        -ms-flex: 0 0 262px;
                        flex: 0 0 262px;
                        max-height: 262px;
                        max-width: 100%;
                    }
                    .model--desc {
                        -ms-flex-preferred-size: 0;
                        flex-basis: 0;
                        -ms-flex-positive: 1;
                        flex-grow: 1;
                        max-width: 100%;
                    }
                }
                @media (min-width: 1025px) {
                    &:hover {
                        .model--img {
                            img {
                                box-shadow: 0px 3px 6px ;
                                border: #b7883d;
                                transform: scale(1.1);
                                transition: 1s all ease-in-out;
                            }
                            &::before {
                                transition: 1s all ease-in-out;
                                opacity: 0;
                                background-size: 100% 100% !important;
                            }
                            &::after {
                                opacity: 0.5;
                                transition: 1s all ease-in-out;
                                transform: translateY(0%);
                                background-size: 100% 100% !important;
                            }
                        }
                        .model--desc {
                            transition: 1s all ease-in-out;
                            background: map-get($mau, main-3);
                            color: map-get($mau, main-2);
                            span {
                                transition: 1s all ease-in-out;
                                color: map-get($mau, main-2);
                            }
                            p {
                                transition: 1s all ease-in-out;
                                color: map-get($mau, main-2);
                            }
                        }
                    }
                    .model--desc {
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
            padding-right: 10px;
            padding-left: 10px;
            .btn {
                display: none;
            }
            .model--img {
                overflow: hidden;
                height: 262px;
                img {
                    transition: all 0.5s ease-in-out;
                }
            }
            .model--desc {
                margin-top: 10px;
                border: 1px solid map-get($mau, main-3);
                padding: 17px;
                position: relative;
                width: 100%;
                left: 0;
                bottom: 0;
                transform: none;
                height: auto;
            }
            @media (max-width: 1024.98px) {
                padding: 0 5px;
            }
            @media (max-width: 768.98px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;
            }
            @media (max-width: 575.98px) {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        
    }
}
.pagination {
	margin-bottom: 80px;
	padding-top: 50px;
    width: 100%;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    li {
        margin: 0 5px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #989898;
            width: 30px;
            height: 30px;
            font-family: Lat0;
            font-size: 13px;
            transition: all .2s cubic-bezier(.2, .5, .5, .8);
        }
        &:hover {
            a {
                text-decoration: none;
                color: #0B1F44;
            }
        }
        &.active {
            a {
                color: #FFFFFF;
                background: #b7883d;
            }
        }
    }
    @media (max-width: 1024.98px) {
        li {
            a {
                font-size: 14px;
            }
        }
    }
}

#infomem {
    padding: 0;
    overflow: visible;
    .fancybox-button {
        box-shadow: 0px 3px 6px;
        border-radius: 5px;
        background: map-get($mau, main-1);
        
		opacity: 1;
		padding: 0;
		top: -22px;
		right: -22px;
		svg {
			path {
				fill: map-get($mau, main-2);
			}
		}
	}
    .list-mem {
        display: flex;
        padding: 0;
        .model--img {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            @media (max-width: 1024.98px) {
                display: block;
            }
        }
        .model--date {
			top: 21px;
			left: 18px;
			z-index: 10;
			display: inline-flex;
			position: absolute;
			background: map-get($mau, main-3);
			width: 110px;
			align-items: center;
			justify-content: center;
			height: 34px;
			top: 28px;
			left: 33px;
			span {
				font-family: Lato-Medium;
				color: map-get($mau, main-2);
		}
		}
        .model--desc {
            padding: 90px;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            .title-info {
                display: none;
                font-size: 30px;
                color: #b7883d;
                font-family: Lato-Heavy;
            }
            .title-1 {
                font-size: 25px;
                color: #b7883d;
                font-family: Lato-Heavy;
                padding-bottom: 10px;
            }
            .title {
                display: none;
            }
            .info {
                position: relative;
                display: flex;
                padding-bottom: 20px;
                .name {
					padding-right: 30px;
				}
                span {
                    color: #b7883d;
                    font-size: 16px;
                    font-family: Lato-Bold;
                }
                &::after {
					position:absolute;
					background: #b69256;
					content: '';
					width: calc(100% - 20px);
					height: 1px;
					top:80%
				}
            }
            .content-title {
                padding-bottom: 20px;
            }
            .sub-title {
                padding-bottom: 25px;
            }
            .list--info{
                padding-bottom: 40px;
                p {
                    color: #525866;
                    font-size: 16px;
                    font-family: Lato-Regular;
                }
                .item-info {
                    padding-bottom: 10px;
                }
            }
            .comp-info {
				display: flex;
				flex-wrap: wrap;
				.info-d {
					padding-bottom: 10px;
				}
				p {
					
					font-size: 16px;
					font-weight: bold;
					color: #b69256 !important ;
				}
			}
        }
    }
    @media (max-width: 1439.98px) {
        .list-mem {
            display: block;
            max-width: 650px;
            .model--img {
               max-width: 100%;
               padding: 30px;
            }
            .model--desc {
                max-width: 100%;
                padding: 30px;
            }
        }
    }
    @media (max-width: 575px) {
        .list-mem {
                .model--img{
                    padding : 10px;
                }
                .model--desc {
                    padding: 5px;
                    .title {
                        font-size: 16px;
                    }
                    .info {
                        display: block;
                    }
                    .comp-info {
                        display: block;
                    }
                }
        }
    }
}