section.LikeAndShare-project
	.container
		.container-1385px.lAS__wrapper
			.lAS__list(data-href="https://developers.facebook.com/docs/plugins/")
				a.lAS__listItem(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&ampsrc=sdkpreparse")
					.lAS__list--item
						.lAS__item--img
							img(src="./assets/images/newsDetail/share.png", alt="")
						h4 Chia sẽ
				a.lAS__listItem.like(href="", data-url="asd", isLike="false", id="qwe")
					.lAS__list--item
						.lAS__item--img
							img(src="./assets/images/newsDetail/like.png", alt="")
						h4
							!= "Thích <span>0</span>"