.executive-committee-page {
	padding-top: 40px !important;
	background: #fff !important;
	.container-1385px{
		background-color: #F8F8F8;
	}
	.block__main--title {
		padding-bottom: 0;
		margin: 0 40px 30px;
		width: auto;
		padding-top: 30px;
	}
	.main-decs--title {
		padding-bottom: 90px;
		padding: 0 40px;
		p {
			color: #525866;
			font-size: 16px;
			font-family: Lato-Regular;
		}
	}
	.block-executive-committee {
		margin-bottom: 100px;
	}
	.executive-committee__wrapper {
		& > div {
			height: auto;
			
		}
		.block__main--model {
			.model--img {
				&::before {
					background: url(../assets/images/libary/after.png) no-repeat;
				}
			}
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 4px;
				background: #B69256;
				bottom: 0;
				left: 0;
			}
		}
		@media (max-width: 1024.98px) {
			.executive-committee-active {
				order: 1;
			}
			.executive-committee-swiper__wrapper  {
				margin-bottom: 80px;

			}
		}
	}
	.executive-committee-swiper__wrapper {
		.swiper-container {
			padding-bottom: 0;
			height: 100%;
			&::after {
				content: none;
			}
		}
		.swiper-button-next, 
		.swiper-button-prev {
			top: unset;
			bottom: -70px;
			right: 10px;
		}
		.swiper-button-prev {
			right: 64px;
			left: auto;
			@media (max-width: 575.98px) {
				right: 50px;
			}
		}
		p.company--position {
			display: none;
		}
		.swiper-slide {
			height: auto;
		}
		.block__main--model {
			width: unset;
			height: 100%;
			&.active {
				.model--desc {
					background: #B69256;
					h2 {
						color: #fff;
					}
					p {
						color: #fff;
					}
				}
			}
		}
		.item__wrapper {
			height: 100%;
		}
		.model--img {
			height: 60%;
			max-height: unset;
			img {
				height: unset;
			}
		}
		.model--desc {
			position: unset; 
			bottom: unset; 
			left: unset; 
			width: 100%;
			height: 40%;
			padding: 10px;
			transform: unset; 
			max-height: unset;
			padding: 20px;
			
		}
	}
	.executive-committee-active {
		@media (max-width: 575.98px) {
			height: fit-content !important;
		}
		.block__main--model  {
			height: 100%;
			.item__wrapper {
				height: 100%;
			}
		}
		.model--img {
			height: 60%;
			max-height: unset;
		}
		.model--desc {
			max-height: unset;
			padding-top: 20px;
			padding-bottom: 20px;
			position: relative;
			overflow: unset;
			text-align: center;
			height: 40%;
			@media (max-width: 575.98px) {
				height: auto;
				padding: 10px;
				padding-top: 30px;
			}
			.title {
				font-size: 30px;
				font-family: Lato-Black;
				@media (max-width: 575.98px) {
					font-size: 20px;
				}
			}
			.item-info  {
				@media (max-width: 575.98px) {
					margin-bottom: 0;
				}
			}
			.company--position {
				padding: 0 30px;
				background: #fff;
				position: absolute;
				left: 50%;
				top: -10px;
				transform: translateX(-50%);
				font-family: Lato-Bold;
				color: #B69256;
				font-size: 12px;
			}
		}
		.list--info {
			text-align: left !important;
		}
	}
	.news__slider {
		padding-bottom: 0 !important;
	}
	&.executive-committee-page:nth-of-type(2n) {
		.swiper-button-next, 
		.swiper-button-prev {
			top: unset;
			bottom: -70px;
			left: 64px;
			@media (max-width: 575.98px) {
				left: 44px;
			}
		}
		.swiper-button-prev {
			left: 10px;
			right: auto;
			
		}
	}
}
.banner-QC {
	margin-bottom: 80px;
	.News {
		padding-top: 0;
		background: #fff !important;
	}
		
}