extends _templates/_layout/_layout.pug

block var
	- let title = 'Banchuyende | Index';
	- let bodyClass = 'banchuyende-page';
	- let linkBanner = './assets/images/banner/news.png';
	- let titleBanner = 'Ban CHuyên Đề';
block loading
block banner,breadcrumb
	include _templates/_layout/_mainbanner
block main
	include _templates/banchuyende/b-1
block scripts
