extends _templates/_layout/_layout.pug

block var
	- let title = 'Connect | Index';
	- let bodyClass = 'Connect-page';
	- let linkBanner = './assets/images/banner/news.png';
	- let titleBanner = 'Kết nối';
block loading
block banner,breadcrumb
	include _templates/_layout/_mainbanner
block main
	include _templates/connect/cn-1
	include _templates/connect/cn-2
block scripts
