extends _templates/_layout/_layout.pug

block var
	- let title = 'News | Index';
	- let bodyClass = 'news-page';
	- let linkBanner = './assets/images/banner/news.png';
	- let titleBanner = 'THƯ VIỆN';
block loading
block banner,breadcrumb
	include _templates/_layout/_mainbanner
block main
	include _templates/libary/l-1
block scripts
