extends _templates/_layout/_layout.pug

block var
	- let title = 'Member | Index';
	- let bodyClass = 'member-page';
	- let linkBanner = './assets/images/banner/news.png';
	- let titleBanner = 'Hội Viên';
block loading
block banner,breadcrumb
	include _templates/_layout/_mainbanner
block main
	include _templates/member/mb-1
	include _templates/member/mb-2
	include _templates/member/mb-3
block scripts
