extends _templates/_layout/_layout.pug

block var
	- let title = 'Project | Index';
	- let bodyClass = 'project-page';
	- let linkBanner = './assets/images/banner/news.png';
	- let titleBanner = 'DỰ ÁN CHI TIẾT';
block loading
block banner,breadcrumb
	include _templates/_layout/_mainbanner
block main
	include _templates/project/pro-1
	include _templates/project/pro-2
block scripts
