.account {
	margin: 100px 0;
	.account__wrapper {
		display: flex;
		flex-wrap: wrap;
		.box-info {
			-ms-flex: 0 0 30%;
			flex: 0 0 30%;
			max-width: 30%;
		}
		.tab-content {
			-ms-flex: 0 0 70%;
			flex: 0 0 70%;
			max-width: 70%;
			padding-left: 15px;
		}
		@media (max-width: 1024.98px) {
			.box-info {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 20px;
				padding: unset;
			}
			.tab-content {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				padding: unset;
			}
		}
	}
}

.box-info {
	padding-right: 15px;
	.box-info__wrapper {
		padding: 60px;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
		.box-header {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding-bottom: 20px;
			border-bottom: 1px solid rgba($color: map-get($mau, main-3), $alpha: .2);
			margin-bottom: 20px;
			.img {
				-ms-flex: 0 0 60px;
				flex: 0 0 60px;
				max-width: 60px;
				overflow: hidden;
				img {
					overflow: hidden;
					border-radius: 50%;
					object-fit: cover;
					object-position: center;
					width: 100%;
					height: 1005;
				}
			}
			.text {
				padding-left: 20px;
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%;
			}
		}
		.box-body {
			.user-info,
			.log-out {
				padding:0 20px;
				height: 50px;
				display: flex;
				align-items: center;
				p {
					padding-left: 15px;
				}
			}
			.project-info {
				padding:0 20px;
				
				.text {
					height: 50px;
					display: flex;
					align-items: center;
					position: relative;
					
					p {
						position: relative;
						padding-left: 15px;
						&::before {
							position: absolute;
							top: 15px;
							right: -18px;
							width: 10px;
							height: 10px;
							transform: translate(-50%,-50%);
							background: url(../assets/icons/caret-down.png);
							background-repeat: no-repeat;
							content: "";
							cursor: pointer;
						}
					}
				}
				.dropdown {
					height: 50px;
					overflow: hidden;
					&.drop {
						height: 100%;
					}
					.dropdown-menu {
						.item {
							padding:0 15px;
						}
						padding-left: 40px;
						p {
							display: flex;
							align-items: center;
							height: 30px;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
		@media (max-width: 1439.98px) {
			padding: 20px;
		}
	}	
	.active {
		background: rgba($color:  map-get($mau, main-1), $alpha: .5);
		border-radius: 10px;
		color: map-get($mau, main-2);
		svg {
			path {
				fill: map-get($mau, main-2);
			}
		}
	}
}

.tab-user,
.tab-project {
	padding: 60px 120px;
	box-shadow: 0 3px 8px rgba($color: #000000, $alpha: .16);
	.tab-user__wrapper,
	.tab-project__wrapper {
		.title {
			margin-bottom: 30px;
			h3 {
				color: map-get($mau, main-1);
				font-size: 25px;
				font-family: Lato-Bold;
				@media (max-width: 575.98px) {
					font-size: 20px;
				}
			}
		}
		form {
			font-family: Lato-Medium;
			.form-group {
				display: flex;
				min-height: 40px;
				margin-bottom: 15px;
				align-items: center;
				flex-wrap: wrap;
				.text {
					-ms-flex: 0 0 30%;
					flex: 0 0 30%;
					max-width: 30%;
					@media (max-width: 575.98px) {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
					}
				}
				.input {
					-ms-flex: 0 0 70%;
					flex: 0 0 70%;
					max-width: 70%;
					height: 40px;
					display: flex;
					align-items: center;
					textarea {
						height: 100px;
					}
					input,
					textarea {
						color: rgba($color: #888888, $alpha: .5);
						padding-left: 20px;
						&:not([type="checkbox"]),
						&:not([type="file"]) {
							height: 100%;
							width: 100%;
							border-radius: 5px;
							border: 1px solid map-get($mau, main-3);
							
						}
						&[type="checkbox"] {
							border: 1px solid map-get($mau, main-3);
							width: 13px;
							height: 13px;
						}
						&[type="file"] {
							display: none;
						}
					}
					> span {
						-ms-flex-preferred-size: 0;
						flex-basis: 0;
						-ms-flex-positive: 1;
						flex-grow: 1;
						max-width: 100%;
						display: flex;
						align-items: center;
						padding-left: 20px;
						font-size: 11px;
						height: 100%;
						width: 100%;
						border-radius: 5px;
						border: 1px solid map-get($mau, main-3);
						margin-right: 15px;
						color: rgba($color: #888888, $alpha: .5);
						
					}
					label {
						padding-left: 5px;
					}
					.gender {
						height: 100%;
						display: flex;
						align-items: center;
						width: 100%;
						.wrapper {
							display: flex;
							align-items: baseline;
						}
						> div {
							-ms-flex: 0 0 33.333333%;
							flex: 0 0 33.333333%;
							max-width: 33.333333%;
							
						}
						
					}
					@media (max-width: 575.98px) {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
					}
				}
			}
			.btn-login {
				width: 100%;
				button {
					height: 40px;
					width: 100%;
					max-width: 70%;
					border-radius: 5px;
					background: map-get($mau, main-3);
					box-shadow: 3px 5px 5px rgba($color: #000000, $alpha: .25);
					margin-left: auto;
					font-family: Lato-Heavy;
					color: map-get($mau, main-2);
				}
			}
		}
	}
	@media (max-width: 1439.98px) {
		padding: 20px;
	}
}
.tab-project {
	.tab-project__wrapper {
		form {
			.form-group:nth-last-of-type(2) {
				align-items: flex-start;
				height: 115px;
				.input {
					height: 100%;
				}
			}
			.form-group {
				label {
					-ms-flex: 0 0 85px;
					flex: 0 0 85px;
					max-width: 85px;
					font-size: 11px;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					width: 100%;
					border-radius: 5px;
					background: map-get($mau, main-3);
					box-shadow: 3px 5px 5px rgba($color: #000000, $alpha: .25);
					color: map-get($mau, main-2);
					svg {
						margin-right: 5px;
					}
				}
			}
		}
	}
	
}