
#form__login,
.popup-form {
	max-width: 872px;
	width: 100%;
	background: url(../assets/images/layout/bg-popup.png) no-repeat;
	position: relative;
	background-size: cover;
	overflow: unset;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: rgb(0,0,0);
		height: 100%;
		z-index: 0;
		background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		pointer-events: none;
	}
	.fancybox-button {
		background: map-get($mau, main-1);
		opacity: 1;
		padding: 0;
		top: -22px;
		right: -22px;
		svg {
			path {
				fill: map-get($mau, main-3);
			}
		}
	}
	.title {
		margin-bottom: 20px;
		p {
			font-size: 23px;
			font-family: Lato-Black;
			color: map-get($mau, main-3);
			text-align: center;
		}
	}
}

#form__login {
	.headerLogin__body {
		position: relative;
		max-width: 300px;
		margin: 0 auto;
		
		.input__login {
			position: relative;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			input {
				width: 100%;
				padding: 5px 10px;
				height: 44px;
				border: 1px solid map-get($mau, main-3);
				outline: none;
				border-radius: 5px;
				box-shadow: 0 3px 5px rgba($color: map-get($mau, main-1), $alpha: 0.4);
			}
		}
		.input__check {
			margin-bottom: 15px;
			input {
				border: 1px solid map-get($mau, main-3);
				outline: none;
				border-radius: 2px;
			}
			label {
				font-size: 14px;
				color: map-get($mau, main-2);
			}
		}
		.btn {
			width: 100%;
			margin-bottom: 15px;
			&.btn-login {
				display: block;
				position: relative;
				text-align: center;
				button {
					width: 100%;
					margin: 0 auto;
					outline: none;
					border-radius: 5px;
					padding: 10px;
					border: none;
					background: map-get($mau, main-3);
					color: map-get($mau, main-2);
					text-transform: uppercase;
					font-family: Lato-Bold;
				}
			}
		}
		.ishavepass {
			p {
				text-align: center;
				color: map-get($mau, main-2);
				font-size: 11px;
				a {
					color: map-get($mau, main-3);
				}
			}
		}
	}
}

.headerLogin__logo {
    text-align: center;
	margin-bottom: 20px;
	position: relative;
}



#form__signin {
	color: map-get($mau, main-2);
	.headerLogin__form {
		position: relative;
		z-index: 1;
	}
	.title {
		max-width: 60%;
		margin-left: auto;
		p {
			text-align: left;
			&:last-child {
				font-family: Lato-Italic;
				font-size: 16px;
			}
		}
		@media (max-width: 767.98px) {
			max-width: 100%;
			p {
				text-align: center;
			}
		}
	}
	.form-group {
		display: flex;
		position: relative;
		margin-bottom: 15px;
		.text {
			-ms-flex: 0 0 40%;
			flex: 0 0 40%;
			max-width: 40%;
		}
		.input {
			position: relative;
			-ms-flex: 0 0 60%;
			flex: 0 0 60%;
			max-width: 60%;
			height: 40px;
			
			.input__wrapper {
				display: flex;
				height: 100%;
				@media (max-width: 575.98px) {
				
				}
			}
			input[type="file"] {
				display: none;
				opacity: 0;
				position: absolute;
			}
			input {
				width: 100%;
				height: 100%;
				border-radius: 5px;
				border: 1px solid map-get($mau, main-3);
				font-size: 11px;

			}
			label {
				cursor: pointer;
				user-select: none;
				svg {
					margin-right: 5px;
				}
			}
			.sample {
				svg {
					margin-right: 5px;
				}
			}
		}
		&:first-child {
			.input {
				span.fakeinput {
					margin-right: 5px;
					background: #FFFFFF;
					color: #888888;
					font-size: 11px;
					height: 100%;
					width: 100%;
					max-width: 50%;
					border-radius: 5px;
					border: 1px solid map-get($mau, main-3);
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 11px;
				}
				label {
					font-size: 11px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-left: 5px;
					height: 100%;
					width: 100%;
					max-width: 50%;
					border-radius: 5px;
					background: map-get($mau, main-3);
					box-shadow: 3px 5px 5px rgba($color: #000000, $alpha: .25);
				}
			}
		}
		&:not(:first-child) {
			span.fakeinput {
				-ms-flex: 0 0 40%;
				flex: 0 0 40%;
				max-width: 40%;
				margin-right: 5px;
				background: #FFFFFF;
				color: #888888;
				font-size: 11px;
				height: 100%;
				width: 100%;
				border-radius: 5px;
				border: 1px solid map-get($mau, main-3);
				display: flex;
				align-items: center;
				justify-content: center;
			}
			label {
				font-size: 11px;
				-ms-flex: 0 0 30%;
				flex: 0 0 30%;
				max-width: 30%;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;
				border-radius: 5px;
				background: map-get($mau, main-3);
				box-shadow: 3px 5px 5px rgba($color: #000000, $alpha: .25);
			}
			.sample {
				-ms-flex: 0 0 30%;
				flex: 0 0 30%;
				max-width: 30%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left:5px;
				height: 100%;
				width: 100%;
				border-radius: 5px;
				background: map-get($mau, main-3);
				box-shadow: 3px 5px 5px rgba($color: #000000, $alpha: .25);
				span {
					font-size: 11px;
					color: map-get($mau, main-2);
				}
			}
		}
		@media (max-width: 767.98px) {
			flex-wrap: wrap;
			.text {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
			.input {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
	.btn-login {
		width: 100%;
		button {
			height: 40px;
			width: 100%;
			max-width: 60%;
			border-radius: 5px;
			background: map-get($mau, main-3);
			box-shadow: 3px 5px 5px rgba($color: #000000, $alpha: .25);
			margin-left: auto;
			font-family: Lato-Heavy;
			color: map-get($mau, main-2);
			@media (max-width: 767.98px) {
				max-width: 100%;
			}
		}
	}
	@media (max-width: 575.98px) {
		padding: 10px;
	}
}

.sample-img {
	-ms-flex: 0 0 70%;
	flex: 0 0 70%;
	max-width: 70%;
	margin-top: 10px;
	max-height: 300px;
	overflow: hidden;
	height: 100%;
	margin-left: auto;
	@media (max-width: 575.98px) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}