.block__main--news {
	position: relative;
	overflow: hidden;
	a {
		overflow: hidden;
		display: block;
		width: 100%;
		height: 100%;
	}
	.news--img {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
		img {
			transition: .3s all ease-in-out;
		}
		&::after {
			content: "";
			pointer-events: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url("../assets/images/homepage/after-hover.png");
			background-size: 100% 100%;
			transform: translate(-100%);
			transition: .3s all ease-in-out
		}
		&::before {
			content: "";
			pointer-events: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url("../assets/images/homepage/after-item.png");
			background-size: 100% 100%;
			transition: 1s all ease-in-out;
		}
	}
	.news--date {
		z-index: 10;
		display: inline-flex;
		position: absolute;
		background: map-get($mau, main-3);
		width: 110px;
		align-items: center;
		justify-content: center;
		height: 34px;
		top: 28px;
		left: 33px;
		span {
			font-family: Lato-Medium;
			color: map-get($mau, main-2);
		}
	}
	.news--desc {
		z-index: 10;
		position: absolute;
		left: 50%;
		bottom: 25px;
		transform: translateX(-50%);
		width: calc(100% - 66px);
		height: auto;
		h2.title {
			color: map-get($mau, main-2);
			font-family: Lato-Black;
			font-size: 20px;
			margin-bottom: 10px;
		}
		p.sub-title {
			color: map-get($mau, main-2);
			font-family: Lato-Regular;
			margin-bottom: 10px;
		}
		.btn--readmore {
			width: 110px;
			height: 26px;
			padding: 0 15px;
			background: map-get($mau, main-2);
			span {
				color: map-get($mau, main-3);
				font-family: Lato-Medium;
				font-size: 15px;
			}
		}
	}
	@media (min-width: 1025px) {
		&:hover {
			.news--img {
				img {
					transform: scale(1.1);
					transition: 1s all ease-in-out;
				}
				&::before {
					transition: 1s all ease-in-out;
					opacity: 0;
				}
				&::after {
					opacity: .5;
					transition: 1s all ease-in-out;
					transform: translateY(0%);
				}
			}
		}
	}
	@media (max-width: 767.98px) {
		.news--date {
			top: 10px;
			left: 10px;
		}
		.news--desc {
			h2.title {
				font-size: 18px;
			}
		}
	}
}

.block__item {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	.img {
		-ms-flex: 0 0 260px;
		flex: 0 0 260px;
		max-width: 260px;
		position: relative;
		overflow: hidden;
		max-height: 175px;
		height: 100%;
		img {
			transition: 1s all ease-in-out;
		}
		&::after {
			content: "";
			pointer-events: none;
			position: absolute;
			background: rgb(82, 88, 102);
			background: linear-gradient(180deg, rgba(82, 88, 102, 1) 0%, rgba(41, 44, 51, 1) 100%);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.3;
			transition: 1s all ease-in-out;
		}
		&::before {
			content: "";
			position: absolute;
			background: url("../assets/images/homepage/hover-news.png") no-repeat;
			background-size: 100% 100%;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
		}
		@media (max-width: 1440px) {
			-ms-flex: 0 45%;
			flex: 0 45%;
			max-width: 45%;
		}
		@media (max-width: 1024.98px) {
			-ms-flex: 0 0 40%;
			flex: 0 0 40%;
			max-width: 40%;
		}
		@media (max-width: 575.98px) {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 10px;
		}
	}
	.item--desc {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		align-self: center;
		padding-left: 32px;
		position: relative;
		overflow: hidden;
		padding-bottom: 18px;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background: #b69256;
			bottom: 0;
		}
		h2.title {
			font-size: 20px;
			font-family: Lato-Bold;
			transition: 1s all ease-in-out;
			color: map-get($mau, main-1);
		}
		p.sub-title {
			font-family: Lato-Regular;
			color: map-get($mau, main-1);
		}
		@media (max-width: 1440px) {
			-ms-flex: 0 0 55%;
			flex: 0 0 55%;
			max-width: 55%;
			padding-left: 10px;
			padding-bottom: 10px;
		}
		@media (max-width: 1024.98px) {
			-ms-flex: 0 0 60%;
			flex: 0 0 60%;
			max-width: 60%;
			align-self: center;
			p.sub-title {
				-webkit-line-clamp: 2;
			}
		}
		@media (max-width: 767.98px) {
			align-self: center;
		}
		@media (max-width: 575.98px) {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			padding-left: 0;
		}
	}
	@media (max-width: 1199.98px) {
		.item--desc {
			padding-bottom: 10px;
			h2.title {
				font-size: 18px !important;
			}
		}
	}
	@media (max-width: 575.98px) {
		margin-bottom: 10px;
		.item--desc {
			h2.title {
				font-size: 16px !important;
			}
			p.sub-title {
				font-size: 14px !important;
			}
		}
	}
	@media (min-width: 1025px) {
		&:hover {
			.img {
				img {
					transform: scale(1.1);
					transition: 1s all ease-in-out;
				}
				&::after {
					transition: .5s all ease-in-out;
					transform: translate(100%);
				}
				&::before {
					transition: 1s all ease-in;
					z-index: 10;
					opacity: .5;
				}
			}
			.item--desc {
				h2.title {
					transition: 1s all ease-in-out;
					color: #B69256 !important;
				}
			}
		}
	}
}

.block__main--model {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .13);
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
	.model--img {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
		img {
			transition: 1s all ease-in-out;
		}
		&::before {
			transition: 1s all ease-in-out;
			content: "";
			pointer-events: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url("../assets/images/stuff/after.png") no-repeat;
			background-size: 100% 100%;
			opacity: .68;
		}
	}
	.model--desc {
		padding: 10px;
		background: #FFF;
		transition: 1s all ease-in-out;
		h2.title {
			color: map-get($mau, main-3);
			font-family: Lato-Bold;
			font-size: 20px;
			margin-bottom: 10px;
			transition: 1s all ease-in-out;
		}
		p.sub-title {
			color: map-get($mau, main-1);
			font-family: Lato-Regular;
			transition: 1s all ease-in-out;
		}
		.list--info {
			margin-top: 10px;
			display: flex;
			flex-wrap: wrap;
			transition: 1s all ease-in-out;
			&>div {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				margin-bottom: 20px;
				transition: 1s all ease-in-out;
				p {
					transition: 1s all ease-in-out;
					font-family: Lato-Regular;
				}
			}
		}
	}
}

.block--item--img {
	position: relative;
	a {
		display: block;
	}
	&::after {
		content: "";
		position: absolute;
		background: url(../assets/images/libary/image.png) no-repeat;
		top: 25px;
		left: 25px;
		width: 26px;
		transition: 1s all ease-in-out;
		height: 26px;
	}
	.img {
		pointer-events: none;
		position: relative;
		&::before {
			pointer-events: none;
			content: "";
			position: absolute;
			background: #525866;
			opacity: .6;
			background-blend-mode: multiply;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			mix-blend-mode: multiply;
		}
		&::after {
			pointer-events: none;
			position: absolute;
			content: "";
			transition: .5s all ease-in-out;
			background: #B69256;
			opacity: 0;
			background-blend-mode: multiply;
			top: 50%;
			left: 50%;
			transform: translate(-50% , -50%);
			width: calc(100% - 40px);
			height: calc(100% - 40px);
			mix-blend-mode: multiply;
		}
		
	}
	.desc {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50% , -50%);
		width: 60%;
		color: map-get($mau, main-2);
		p {
			font-family: Lato-Heavy;
			font-size: 20px;
		}
	}
	@media (min-width: 1025px) {
		&:hover {
			&::after {
				top: 40px;
				left: 40px;
				transition: 1s all ease-in-out;
			}
			.img {
				&::after {
					opacity: .6;
					transition: .5s all ease-in-out;
				}
			}
			.desc {
				opacity: 1;
				transition: .5s all ease-in-out;
			}
		}
	}
	&.video {
		&::after {
			background: url(../assets/images/libary/video.png) no-repeat;
			width: 51px;
			height: 51px;
			top: 50%;
			left: 50%;
			transform: translate(-50% , -50%);
		}
		.desc {
			top: 65%;
			transform: translateX(-50%);
		}
	}
	@media (max-width: 1024.98px) {
		.desc {
			opacity: 1;
		}
	}
}