body {
    overflow-x: hidden;
    &.disabled {
        overflow: hidden;
    }
}

::-webkit-scrollbar {
    background-color: #fff;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0);
    box-shadow: inset 0 0 6px rgba(255,255,255,0);
    border-radius: 2.5px;
    background-color: #b69256;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0);
    box-shadow: inset 0 0 6px rgba(255,255,255,0);
    background-color: #fff;
}

input,
select,
textarea {
    &.input-validation-error {
        color: red !important;
        border: 1px solid red !important;
        transition: 0.3s all ease-in-out;
        &::placeholder {
            color: red !important;
        }
    }
}

.field-validation-error {
    display: inline-block;
    margin: 0.5rem 0;
    font-size: 12px;
    color: red;
}

.tab-container {
    .list-tab {
        .item {
            cursor: pointer;
            &.active {
                color: map-get($mau, main);
            }
        }
    }
    .tab-content {
        .content {
            display: none;
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.2, 0.5, 0.5, 0.8);
            &.show {
                opacity: 1;
            }
        }
    }
}

.ofcv {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-family: "object-fit: cover, object-position: center";
    background-size: cover;
}

.ofct {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    font-family: "object-fit: contain, object-position: center";
    background-size: contain;
}

.blur-up {
    filter: blur(10px);
    transition: filter 1s;
    &.lazyloaded {
        filter: blur(0);
    }
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.h-100 {
    height: 100%;
}

.lcl {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    &-1 {
        -webkit-line-clamp: 1;
    }
    &-2 {
        -webkit-line-clamp: 2;
    }
    &-3 {
        -webkit-line-clamp: 3;
    }
}

.block__main--title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba($color: #b69256, $alpha: 0.8);
    padding-bottom: 30px;
    h2.title {
        font-size: 35px;
        font-family: LATO-BOLD;
        font-weight: 700;
        color: map-get($mau, main-1);
        margin-right: auto;
    }
    &.bg_ {
        h2 {
            color: white;
        }
    }
    @media (max-width: 1024.98px) {
        padding-bottom: 10px;
        h2.title {
            font-size:  25px;
            @media (max-width: 575.98px) {
                font-size: 20px;
            }
        }
        .btn--readmore {
            height: 30px;
            max-width: 120px;
            span {
                font-size: 14px;
            }
        }
    }
    @media (max-width: 575.98px) {
        flex-direction: column;
    }
    ;
    // @media (max-width: 575.98px) {
    // 	h2.title {
    // 		font-size: 20px;
    // 	}
    // }
}

.btn--readmore {
    padding-left: 21px;
    padding-right: 21px;
    background-color: map-get($mau, main-3);
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
    transition: 1s all ease-in-out;
    height: 44px;
    span {
        transition: 1s all ease-in-out;
        color: map-get($mau, main-2);
        font-size: 25px;
        font-family: Lato-Heavy;
        padding-right: 5px;
    }
    @media (min-width: 1025px) {
        &:hover {
            transition: 1s all ease-in-out;
            background: map-get($mau, main-2);
            span {
                transition: 1s all ease-in-out;
                color: map-get($mau, main-3);
            }
            svg {
                path {
                    transition: 1s all ease-in-out;
                    fill: map-get($mau, main-3);
                    stroke: map-get($mau, main-3);
                }
            }
        }
    }
    @media (max-width: 1024.98px) {
        padding-left: 11px;
        padding-right: 11px;
        span {
            font-size: 20px;
        }
        svg {
            width: 18px;
        }
    }
}

.swiper-button-next {
    right: 0;
    width: 44px;
    height: 44px;
    background: map-get($mau, main-3);
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16px);

    &::after {
        pointer-events: none;
        content: "";
        background: url("../assets/images/stuff/next.png") no-repeat;
        width: 12px;
        height: 20px;
        background-size: contain;
    }
    @media (max-width: 575.98px) {
        width: 30px !important;
        height: 30px !important;
    }
}

.swiper-button-prev {
    left: 0;
    width: 44px;
    height: 44px;
    background: map-get($mau, main-3);
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16px);
    &::after {
        content: "";
        pointer-events: none;
        background: url("../assets/images/stuff/prev.png") no-repeat;
        width: 12px;
        height: 20px;
        background-size: contain;
    }
    @media (max-width: 575.98px) {
        width: 30px !important;
        height: 30px !important;
    }
}

.swiper-button-prev.swiper-button-disabled {
    border: 2px solid map-get($mau, main-3);
    background: #EFEFEF;
    box-shadow: none;
    &::after {
        content: "";
        pointer-events: none;
        background: url("../assets/images/stuff/prev-disable.png") no-repeat;
        width: 12px;
        height: 20px;
        background-size: contain;
    }
    opacity: 1;
    @media (max-width: 575.98px) {
        width: 30px !important;
        height: 30px !important;
    }
}

.swiper-button-next.swiper-button-disabled {
    border: 2px solid map-get($mau, main-3);
    background: #EFEFEF;
    opacity: 1;
    &::after {
        content: "";
        pointer-events: none;
        background: url("../assets/images/stuff/next-disable.png") no-repeat;
        width: 12px;
        height: 20px;
        background-size: contain;
    }
    @media (max-width: 575.98px) {
        width: 30px !important;
        height: 30px !important;
    }
}

.fake-button-recaptcha {
    display: none;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 300;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: map-get($mau, main-3);
    opacity: .5;
}