section.home__stuff
	.container
		.container-1385px.home__stuff__wrapper
				.block__main--title
					h2.title Dự án nổi bât
					a(href="#").btn.btn--readmore
						span Xem thêm
						img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
				.home__stuff--event__wrapper
					.swiper-container
						.swiper-wrapper
							-for(var i =0; i < 7; i++)
								.swiper-slide
									.block__main--model
										a(href="#")
											.model--img
												img.ofcv(src=`./assets/images/stuff/hot-event-1.png`, alt="something")
											.model--desc
												h2.title.lcl.lcl-2 Lorem Ipsum is simply dummy text of the printing.
												p.sub-title.lcl.lcl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
					.swiper-button-next
					.swiper-button-prev
section.home__new-member
	.container
		.container-1385px.home__stuff__wrapper
			.block__main--title
				h2.title Hội Viên Mới
				a(href="#").btn.btn--readmore
					span Xem thêm
					img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
			.home__stuff--event__wrapper
				.swiper-container
					.swiper-wrapper
						-for(var i =0; i < 12; i++)
							.swiper-slide
								.block__main--model
									a(href="#")
										.model--img.ov-h
											img.ofcv(src=`./assets/images/homepage/new-member.png`, alt="something")
										.model--desc
											h2.title.lcl.lcl-1 Lorem Ipsum is simply dummy text of the printing.
											p.sub-title.lcl.lcl-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
											.list--info.row
												-for(var j=0;j<4;j++)
													.item-info.col-6
														.row
															.img.col-2
																img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
															.desc.col-10
																p.lcl.lcl-1 Lorem Ipsum is dummy.
	// DO CHO NAY
	.home__new-member--info
		.home__new-member--info__wrapper
			h2.title.tt-u.lcl.lcl-1 Lorem Ipsum has been the industry’s.
			p.sub-title.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			.list--info.row
				-for(var j=0;j<4;j++)
					.item-info.col-6
						.row
							.img.col-2
								img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
							.desc.col-10
								p.lcl.lcl-1 Lorem Ipsum is dummy.
		.fake-swiper-button
			.fake-swiper-button__wrapper
				.swiper-button-next
				.swiper-button-prev
section.home__happy-birthday.member__happy-birthday 
	.container
		.container-1385px.home__stuff__wrapper
				.block__main--title
					h2.title Chúc Mừng Sinh Nhật Hội Viên
					a(href="#").btn.btn--readmore
						span Xem thêm
						img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
				.birthday-event__wrapper
					.swiper-container
						.swiper-wrapper
							-for(var i =0; i < 1; i++)
								.swiper-slide
									.block__main--model.ov-h
										.model--img
											img.ofcv(src=`./assets/images/homepage/UNOO.png`, alt="something")
										.model--date 
											span Tháng 7
										.model--desc.ov-h
											h2.title.lcl.lcl-1.tt-u mR. Lorem Ipsum
											.title-info!= "<span>Ông : </span>  <span> Nguyễn Văn A </span>"
											.title-1!= "<span>Công ty : </span>  <span> Lorem Ipsum has been the indus.</span>"
											.info 
												.name!= "<span>Đại diện : </span>  <span> Ông Nguyễn Văn A </span>"
												.com!= "<span>Chức vụ : </span>  <span> Phó tổng giám đốc </span>"
											p.content-title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
											.list--info
												-for(var j=0;j<2;j++)
													.item-info
														.row
															.img.col-2
																img.svg(data-src=`./assets/icons/item-${j+1}.svg`, alt="")
															.desc.col-10
																p.lcl.lcl-1 Lorem Ipsum is dummy.
												.item-info
													.row
														.img.col-2
															img.svg(data-src=`./assets/icons/calendar.svg`, alt="")
														.desc.col-10
															p.lcl.lcl-1 Lorem Ipsum is dummy.
											.comp-info 
												.info-d.col-6
													p.time Năm thành lập :
												.info-d.col-6
													p.areas Lĩnh vực kinh doanh :
												.info-d.col-6
													p.sp Sản phẩm cụ thể :
												.info-d.col-6
													p.stregth Thế mạmnh :
						.swiper-button-next
						.swiper-button-prev
		.d-n
			#infomem
				.list-mem